# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Build Directory
dist

package-lock.json

.env

.vscode/settings.json

# macOS system files
.DS_Store
*.DS_Store
.DS_Store
.DS_Store
.DS_Store
