<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <!-- title logo -->
  <link rel="icon" href="/public/images/bse.png" type="image/icon type" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/public/plugins/font-awesome/css/all.min.css" />

  <!-- Bootstrap  -->
  <link
    href="/public/plugins/bootstrap/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <script src="/public/plugins/bootstrap/js/bootstrap.min.js"></script>

  <!-- jQuery -->
  <script src="/public/plugins/jquery/jquery.min.js"></script>

  <!-- DataTable -->
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/plugins/DataTables/datatables.min.css"
  />

  <!-- Toast -->
  <link rel="stylesheet" href="/public/plugins/Toastr/toastr.min.css" />
  <script src="/public/plugins/Toastr/toastr.min.js"></script>

  <!-- SideBar -->
  <link
    rel="stylesheet"
    href="/public/plugins/offcanvas/css/hc-offcanvas-nav.css"
  />
  <!-- <link
    rel="stylesheet"
    href="/public/plugins/offcanvas/css/to/hc-offcanvas-nav.carbon.css"
  /> -->
  <script src="/public/plugins/offcanvas/js/hc-offcanvas-nav.js"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/public/css/style.css" />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BSE</title>

    <style type="text/css">
      @font-face {
        font-family: "CassandraPersonalUse";
        src: url("/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf?v=2")
          format("truetype");
      }

      @font-face {
        font-family: "CerebriSansPro-Regular";
        src: url("/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf?v=2")
          format("truetype");
      }

      .hc-nav-trigger {
        margin-top: -12px;
      }
    </style>
  </head>

  <body>
    <div class="" style="background-color: #771daa">
      <div class="row py-2">
        <div class="col col-md-5 col-lg-5 ps-4">
          <div id="navbar-toggler">
            <ul>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Precurement</a></li>
              <li>
                <a href="#">Production</a>
                <ul>
                  <li><a href="#">Dispatch</a></li>
                  <li><a href="#">Peeling Center</a></li>
                  <li><a href="#">Dispatch</a></li>
                  <li><a href="#">Production Factory</a></li>
                </ul>
              </li>
              <li><a href="#">Sales</a></li>
              <li><a href="#">Accounting</a></li>
              <li><a href="#">Reports</a></li>
            </ul>
          </div>
        </div>

        <div class="col">
          <h6
            class="Vheading text-white align-middle fw-bold fs-5"
            style="font-family: 'CerebriSansPro-Regular'"
          >
            Britto Seafoods Exports
          </h6>
        </div>

        <!-- <span class="logout">Logout</span> -->
      </div>
    </div>

    <div class="container" style="display: flex; justify-content: center"></div>
  </body>

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      let $nav = $("#navbar-toggler").hcOffcanvasNav({
        disableAt: false,
        levelOpen: "expand",
      });
      let Nav = $nav.data("hcOffcanvasNav");

      //   $("#main-nav").hcOffcanvasNav({
      //     disableAt: 1024,
      //     customToggle: $(".toggle"),
      //     navTitle: "All Categories",
      //     levelTitles: true,
      //     levelTitleAsBack: true,
      //   });

      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: true,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: false,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "5000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
      };
    });
  </script>
</html>
<!-- 
git add .
git commit -m 'check push hello'
git push origin master -->
