<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>

    <!-- <link rel="shortcut icon" href="/images/favicon.ico"> -->

    <!-- Custom CSS -->
    <!-- <link type="text/css" rel="stylesheet" href="/css/index.css" /> -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/plugins/Bootstrap/css/bootstrap.min.css" />
    <script src="/plugins/Bootstrap/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="/plugins/jQuery/jQuery.min.js"></script>

    <!-- Toaster -->
    <link href="/plugins/Toaster/build/toastr.min.css" rel="stylesheet" />
    <script src="/plugins/Toaster/build/toastr.min.js"></script>
  </head>

  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
        />
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
        />
      </symbol>
      <symbol
        id="exclamation-triangle-fill"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </symbol>
    </svg>

    <div class="container mt-4 p-4">
      <div id="alerts"></div>

      <div id="form">
        <div
          class="col-md-5 text-center py-auto"
          style="margin-top: 4rem; margin-left: auto; margin-right: auto"
        >
          <div class="border rounded p-4 mt-4">
            <div class="form-group">
              <div class="text-left">
                <label for="">New Password</label><br />
              </div>
              <input
                class="form-control text-left"
                placeholder="Password"
                id="secret"
                type="password"
              />
            </div>
            <div class="form-group">
              <div class="text-left">
                <label for="">Confirm Password</label><br />
              </div>
              <input
                class="form-control text-left"
                placeholder="Confirm"
                id="confirm"
                type="password"
              />
            </div>
            <input
              class="btn btn-outline-primary col-md-8 col-lg-6 mt-3"
              id="submit"
              type="button"
              value="Submit"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: true,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: true,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "5000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
      };

      if ("<%=is_token_valid%>" == "false") {
        $("#alerts")
          .html(`<div class="alert alert-info d-flex flex-column align-items-center mx-3 py-4" role="alert"><svg class="bi flex-shrink-0 me-2" width="10rem" height="10rem" role="img" aria-label="Info:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg><br /><br />
            <div style="text-align:center">
                Sorry! Link has already been expired.
            </div></div>`);

        $("#form").remove();
      }

      if ("<%=is_password_forgot%>" == "false") {
        $("#alerts")
          .html(`<div class="alert alert-info d-flex flex-column align-items-center mx-3 py-4" role="alert"><svg class="bi flex-shrink-0 me-2" width="10rem" height="10rem" role="img" aria-label="Info:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg><br /><br />
            <div style="text-align:center">
                Sorry! Password already reset successfully.
            </div></div>`);

        $("#form").remove();
      }

      if ("<%=is_valid_user%>" == "false") {
        $("#alerts")
          .html(`<div class="alert alert-info d-flex flex-column align-items-center mx-3 py-4" role="alert"><svg class="bi flex-shrink-0 me-2" width="10rem" height="10rem" role="img" aria-label="Info:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg><br /><br />
            <div style="text-align:center">
                Sorry! User doesn't exist.
            </div></div>`);

        $("#form").remove();
      }

      $("#submit").on("click", () => {
        if ($("#secret").val() != "" && $("#confirm").val() != "") {
          if ($("#secret").val() == $("#confirm").val()) {
            savePassword({
              password: $("#secret").val(),
              updated_at: new Date(),
              type: "email",
            });
          } else {
            toastr.warning("Password and Confirm didn't match", "Warning!");
          }
        } else if ($("#secret").val() == "") {
          toastr.warning("Password field must NOT be empty", "Warning!");
        } else {
          toastr.warning(
            "Confirm Password field must NOT be empty",
            "Warning!"
          );
        }
      });
    });

    function savePassword(params) {
      $.ajax({
        url: "/api/v1/auth/forgot/password/email/update",
        dataType: "json",
        type: "POST",
        headers: {
          Authorization: "Bearer <%=token%>",
        },
        contentType: "application/json",
        data: JSON.stringify(params),
        success: function (data, textStatus, jQxhr) {
          $("#alerts")
            .html(`<div class="alert alert-success d-flex flex-column align-items-center mx-3  py-4" role="alert"><svg class="bi flex-shrink-0 me-2" width="10rem" height="10rem" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill" />
            </svg><br /><br />
            <div style="text-align:center">
                Congratulations! Your account has been verified successfully
            </div></div>`);

          $("#form").remove();
        },
        error: (xhr, error, code) => {
          toastr.error(xhr.responseJSON.message, "Error");
        },
      });
    }
  </script>
</html>
