<!-- @format -->

<!DOCTYPE html>
<html lang="en">
<!-- title logo -->
<link rel="icon" href="/public/images/bse.png" type="image/icon type" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

<!-- Bootstrap 
<link href="/public/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="/public/plugins/bootstrap/js/bootstrap.min.js"></script> -->

<!-- MDB5  -->
<link href="/public/plugins/MDB5-7.2.0/css/mdb.min.css" rel="stylesheet" />
<script src="/public/plugins/MDB5-7.2.0/js/mdb.es.min.js"></script>

<!-- jQuery -->
<script src="/public/plugins/jquery/jquery.min.js"></script>

<!-- DataTable -->
<link rel="stylesheet" href="/public/plugins/dataTables/datatables.min.css">
<script src="/public/plugins/dataTables/datatables.min.js"></script>
<script src="/public/plugins/dataTables/dataTables.bootstrap5.min.js"></script>
<!-- Responsive Datatable -->
<link rel="stylesheet" href="/public/plugins/dataTables/datatables.responsive.min.css">
<script src="/public/plugins/dataTables/datatables.responsive.min.js"></script>
<!-- Datatable Buttons -->
<link rel="stylesheet" href="/public/plugins/dataTables/datatables.buttons.min.css">
<script src="/public/plugins/dataTables/datatables.buttons.min.js"></script>

<!-- Toast -->
<link rel="stylesheet" href="/public/plugins/Toastr/toastr.min.css" />
<script src="/public/plugins/Toastr/toastr.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="/public/plugins/font-awesome/css/all.min.css" />

<!-- jQuery Confirm -->
<link rel="stylesheet" href="/public/plugins/jquery-confirm/css/jquery-confirm.min.css">
<script src="/public/plugins/jquery-confirm/js/jquery-confirm.min.js"></script>

<!-- Slide-in Panel -->
<link rel="stylesheet" href="/public/plugins/slide-in-panel/css/slidePanel.min.css">
<script src="/public/plugins/slide-in-panel/js/slidePanel.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/public/css/style.css" />

<!-- Custom Script -->
<script src="/public/custom/App.js"></script>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BSE</title>

  <style type="text/css">
    @font-face {
      font-family: "CassandraPersonalUse";
      src: url("/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf?v=2") format("truetype");
    }

    @font-face {
      font-family: "CerebriSansPro-Regular";
      src: url("/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf?v=2") format("truetype");
    }

    body {
      font-family: "CerebriSansPro-Regular";
      background-color: #f7f9fd;
    }

    .topMenu-item {
      display: block;
      color: rgb(44 44 44);
      text-align: center;
      padding: 0px;
      text-decoration: none;
      border-right: 0px solid #1F2D3E;
      padding-bottom: 3px !important;
      /* width: 25vh !important; */
      cursor: pointer;
    }

    #lastMenu {
      border-right: 0px solid #414a57;
    }

    .topMenu-item:hover {
      /* border-bottom: 1px solid #1F2D3E; */
      color: #EA5453;
      /* font-weight: bold; */
    }

    /* .topMenu-item {
      color: #f7f9fd;
      display: block !important;
    } */

    .topMenu-item-active {
      color: #EA5453;
    }

    .edit,
    .del {
      cursor: pointer;
    }

    .vendorPanel {
      z-index: 9999;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -600px;
      width: 500px;
      height: 100%;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: right 0.3s ease;
      /* Transition for smooth sliding */
    }

    .page-item.active .page-link {
      color: #fff !important;
      background-color: #EA5455 !important;
      border-color: #EA5455 !important;
    }

    .page-link {
      color: #000 !important;
      background-color: #fff !important;
      border: 1px solid #dee2e6 !important;
    }

    .page-link:hover {
      color: #fff !important;
      background-color: #EA5455 !important;
      border-color: #EA5455 !important;
    }
  </style>
</head>

<body>
  <div class="">
    <div class="topMenu-container row d-flex justify-content-center">
      <div
        class="topMenu-item col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="fs-6">
          <i class="fa-solid fa-warehouse"></i>
        </div>
        <div class="pt-2">
          <span>Units</span>
        </div>
      </div>

      <div
        class="topMenu-item col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="fs-6">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="pt-2">
          <span>Location</span>
        </div>
      </div>

      <div
        class="topMenu-item vendorMenu col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="fs-6">
          <i class="fa-solid fa-users"></i>
        </div>
        <div class="pt-2">
          <span>Vendors</span>
        </div>
      </div>

      <div
        class="topMenu-item col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="fs-6">
          <i class="fa-solid fa-boxes-packing"></i>
        </div>
        <div class="pt-2">
          <span>Packages</span>
        </div>
      </div>

      <div
        class="topMenu-item col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="fs-6">
          <i class="fa-solid fa-shrimp"></i>
        </div>
        <div class="pt-2">
          <span>Products</span>
        </div>
      </div>

      <div
        class="topMenu-item col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="fs-6">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="pt-2">
          <span>Vehicles</span>
        </div>
      </div>

      <div
        class="topMenu-item col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center">
        <div class="fs-6">
          <i class="fa-regular fa-id-card"></i>
        </div>
        <div class="pt-2">
          <span>Drivers</span>
        </div>
      </div>

    </div>

    <!-- Supplier Container -->
    <div class="menu-container vendorContainer d-none">
      <div id="vendorSlideInPanel" class="vendorPanel">
        <div class="p-3">
          <h2>Panel Content</h2>
          <p>This is some content inside the slide-in panel.</p>
          <button id="closePanelBtn" class="btn btn-secondary">Close Panel</button>
        </div>
      </div>
      <!-- Table Content -->
      <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
        <div class="border p-4">

          <!-- Add Button -->
          <div class="d-flex rounded-2 justify-content-end pb-4">
            <div id="openVendorPanelBtn" class="btn btn-outline-danger d-flex justify-content-around"
              style="width: 100px;">
              <i class="fa-solid fa-circle-plus my-auto"></i>
              <span style="margin-top: 4px;" class="fw-bold">Add</span>
            </div>
          </div>

          <table id="vendorTable" class="table table-hover nowrap w-100">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th><span>Supplier Name</span><input class="form-control shadow-none" type="text"></th>
                <th><span>Location</span><input class="form-control shadow-none" type="text"></th>
                <th><span>Representative</span><input class="form-control shadow-none" type="text"></th>
                <th><span>Phone</span><input class="form-control shadow-none" type="text"></th>
                <th><span>Email</span><input class="form-control shadow-none" type="text"></th>
                <th><span>Address</span><input class="form-control shadow-none" type="text"></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- Supplier Container Ends -->

  </div>
</body>

<script type="text/javascript">
  jQuery(document).ready(function ($) {

    // Open panel
    $('#openVendorPanelBtn').click(function () {
      $('#vendorSlideInPanel').css('right', '0');
    });

    // Close panel
    $('#closePanelBtn').click(function () {
      $('#vendorSlideInPanel').css('right', '-600px');
    });

    $(".topMenu-item").click(function () {
      $(".topMenu-item").removeClass('topMenu-item-active')

      $(this).addClass('topMenu-item-active')
    })

    $(".vendorMenu").click(function () {
      $(".menu-container").removeClass('d-none')

      $(".vendorContainer").addClass('d-block')

      loadTableData()
    })

    toastr.options = {
      closeButton: false,
      debug: false,
      newestOnTop: true,
      progressBar: true,
      positionClass: "toast-top-right",
      preventDuplicates: false,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      timeOut: "5000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut",
    };

    $(document).on('click', '.delRequest', (e) => {
      let vendor_master_id = $(e.target).attr('vendor_master_id')
      let currentRow = $(e.target).closest('tr')
      $.confirm({
        title: 'Delete Request?',
        content: 'Are you sure, do you want to remove this request?',
        backgroundDismiss: false,
        backgroundDismissAnimation: 'glow',
        type: 'red',
        closeIcon: true,
        closeIconClass: 'fa fa-close',
        typeAnimated: true,
        boxWidth: '30%',
        useBootstrap: false,
        autoClose: 'no|5000',
        buttons: {
          delete: {
            text: 'Delete',
            btnClass: 'btn-red',
            action: function () {
              $.ajax({
                url: '/api/v1/master/vendor/delete',
                method: 'post',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                  vendor_master_id,
                })
              }).done(function (response) {
                //loading data to table
                loadTableData()

                toastr.success('Request deleted successfully', 'Deleted')
              }).fail(function () {
                toastr.error('Request failed to delete!', 'Error')
              });
            }
          },
          no: function () {
            toastr.info('Row is safe now', 'Info')
          }
        }
      });
    })

    function loadTableData() {
      $("#vendorTable").DataTable({
        // searching: true,
        destroy: true,
        responsive: true,
        processing: true,
        serverSide: true,
        scrollX: true,
        // scrollY: "40vh",
        ordering: false,
        ajax: {
          type: "GET",
          url: "/api/v1/master/vendor/get/all",
          error: function (xhr, error, code) {
            $("#vendorTable").DataTable().destroy();
            $("#vendorTable").DataTable({ scrollX: true })

            toastr.error(xhr.responseJSON.message, 'Error')
          },
          "dataSrc": function (json) {
            json.iTotalRecords = json.data?.rows?.length
            json.iTotalDisplayRecords = json.data?.count

            // Return the data to be displayed in the DataTable
            return json?.data?.rows;
          }
        },
        columns: [
          { data: null },
          { data: null },
          { data: "vendor_name" },
          { data: "LocationMaster.location_name" },
          { data: "representative" },
          { data: "phone" },
          { data: "email" },
          { data: "address" },
        ],
        columnDefs: [
          {
            targets: [0],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-pen-to-square edit editRequest" vendor_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:red" data-toggle="tooltip" data-placement="top" title="Click this button to edit this row"></i>'
            },
          },
          {
            targets: [1],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-trash del delRequest" vendor_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:red" data-toggle="tooltip" data-placement="top" title="Click this button to delete this row"></i>'
            },
          },
        ],
        // "infoCallback": function (settings, start, end, max, total, pre) {
        //   return start + " to " + end;
        // }
      });
    }


  });
</script>

</html>