<!-- @format -->

<!DOCTYPE html>
<html lang="en">
<!-- title logo -->
<link rel="icon" href="/public/images/bse.png" type="image/icon type" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

<!-- Bootstrap 
<link href="/public/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="/public/plugins/bootstrap/js/bootstrap.min.js"></script> -->

<!-- MDB5  -->
<link href="/public/plugins/MDB5-7.2.0/css/mdb.min.css" rel="stylesheet" />
<script src="/public/plugins/MDB5-7.2.0/js/mdb.es.min.js"></script>

<!-- jQuery -->
<script src="/public/plugins/jquery/jquery.min.js"></script>

<!-- Select2 -->
<link rel="stylesheet" href="/public/plugins/select2/css/select2.min.css" />
<script src="/public/plugins/select2/js/select2.min.js"></script>

<!-- DataTable -->
<link rel="stylesheet" href="/public/plugins/dataTables/datatables.min.css">
<script src="/public/plugins/dataTables/datatables.min.js"></script>
<script src="/public/plugins/dataTables/dataTables.bootstrap5.min.js"></script>
<!-- Responsive Datatable -->
<link rel="stylesheet" href="/public/plugins/dataTables/datatables.responsive.min.css">
<script src="/public/plugins/dataTables/datatables.responsive.min.js"></script>

<!-- Toast -->
<link rel="stylesheet" href="/public/plugins/Toastr/toastr.min.css" />
<script src="/public/plugins/Toastr/toastr.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="/public/plugins/font-awesome/css/all.min.css" />

<!-- jQuery Confirm -->
<link rel="stylesheet" href="/public/plugins/jquery-confirm/css/jquery-confirm.min.css">
<script src="/public/plugins/jquery-confirm/js/jquery-confirm.min.js"></script>

<!-- Slide-in Panel -->
<link rel="stylesheet" href="/public/plugins/slide-in-panel/css/slidePanel.min.css">
<script src="/public/plugins/slide-in-panel/js/slidePanel.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/public/css/style.css" />

<!-- Custom Script -->
<script src="/public/custom/App.js"></script>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BSE</title>

  <style type="text/css">
    @font-face {
      font-family: "CassandraPersonalUse";
      src: url("/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf?v=2") format("truetype");
    }

    @font-face {
      font-family: "CerebriSansPro-Regular";
      src: url("/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf?v=2") format("truetype");
    }

    body {
      font-family: "CerebriSansPro-Regular";
      background-color: #f7f9fd;
    }

    .toast {
      opacity: 1 !important;
    }

    .show-dot {
      display: none !important;
    }

    .topMenu-item {
      display: block;
      color: rgb(44 44 44);
      text-align: center;
      padding: 0px;
      text-decoration: none;
      border-right: 0px solid #1F2D3E;
      padding-bottom: 3px !important;
      /* width: 25vh !important; */
      cursor: pointer;
    }

    #lastMenu {
      border-right: 0px solid #414a57;
    }

    .topMenu-item:hover {
      /* border-bottom: 1px solid #ea5455; */
      color: #ea5455 !important;
      /* font-weight: bold; */
    }

    .topMenu-item {
      color: #14274e !important;

    }

    .topMenu-item-active {
      border-bottom: 1px solid #ea5455;
      color: #ea5455 !important;
      /* font-weight: bold; */
    }

    .edit,
    .del {
      cursor: pointer;
    }

    .unitPanel {
      z-index: 9999;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -600px;
      width: 500px;
      height: 100%;
      background-color: #fff;
      /* box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); */
      transition: right 0.3s ease;
      /* Transition for smooth sliding */
    }

    .locationPanel {
      z-index: 9999;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -600px;
      width: 500px;
      height: 100%;
      background-color: #fff;
      /* box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); */
      transition: right 0.3s ease;
      /* Transition for smooth sliding */
    }

    .vendorPanel {
      z-index: 9999;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -600px;
      width: 500px;
      height: 100%;
      background-color: #fff;
      /* box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); */
      transition: right 0.3s ease;
      /* Transition for smooth sliding */
    }

    .packagePanel {
      z-index: 9999;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -600px;
      width: 500px;
      height: 100%;
      background-color: #fff;
      /* box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); */
      transition: right 0.3s ease;
      /* Transition for smooth sliding */
    }

    .productPanel {
      z-index: 9999;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -600px;
      width: 500px;
      height: 100%;
      background-color: #fff;
      /* box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); */
      transition: right 0.3s ease;
      /* Transition for smooth sliding */
    }

    .vehiclePanel {
      z-index: 9999;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -600px;
      width: 500px;
      height: 100%;
      background-color: #fff;
      /* box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); */
      transition: right 0.3s ease;
      /* Transition for smooth sliding */
    }

    .driverPanel {
      z-index: 9999;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -600px;
      width: 500px;
      height: 100%;
      background-color: #fff;
      /* box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); */
      transition: right 0.3s ease;
      /* Transition for smooth sliding */
    }

    .page-item.active .page-link {
      color: #fff !important;
      background-color: #EA5455 !important;
      border-color: #EA5455 !important;
    }

    .page-link {
      color: #000 !important;
      background-color: #fff !important;
      border: 1px solid #dee2e6 !important;
    }

    .page-link:hover {
      color: #fff !important;
      background-color: #EA5455 !important;
      border-color: #EA5455 !important;
    }

    .select2-dropdown {
      z-index: 10000 !important;
    }
  </style>
</head>

<body>
  <div class="">

    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------------ Top Menu Container ----------------------------------------------- -->
    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <div class="topMenu-container d-flex justify-content-center">
      <div
        class="topMenu-item unitMenu col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="fs-6">
          <i class="fa-solid fa-warehouse"></i>
        </div>
        <div class="pt-2">
          <span>Units</span>
        </div>
      </div>

      <div
        class="topMenu-item locationMenu col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="fs-6">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="pt-2">
          <span>Location</span>
        </div>
      </div>

      <div
        class="topMenu-item vendorMenu col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="fs-6">
          <i class="fa-solid fa-users"></i>
        </div>
        <div class="pt-2">
          <span>Vendors</span>
        </div>
      </div>

      <div
        class="topMenu-item packageMenu col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="fs-6">
          <i class="fa-solid fa-boxes-packing"></i>
        </div>
        <div class="pt-2">
          <span>Packages</span>
        </div>
      </div>

      <div
        class="topMenu-item productMenu col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="fs-6">
          <i class="fa-solid fa-shrimp"></i>
        </div>
        <div class="pt-2">
          <span>Products</span>
        </div>
      </div>

      <div
        class="topMenu-item vehicleMenu col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center mx-3">
        <div class="fs-6">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="pt-2">
          <span>Vehicles</span>
        </div>
      </div>

      <div
        class="topMenu-item driverMenu col-xs-6 col-sm-12 col-md-1 col-lg-1 d-flex flex-column justify-content-center align-items-center">
        <div class="fs-6">
          <i class="fa-regular fa-id-card"></i>
        </div>
        <div class="pt-2">
          <span>Drivers</span>
        </div>
        <div class="show-dot>
          <i class=" fa-solid fa-circle bg-danger rounded-circle" style="font-size: 5px;"></i>
        </div>
      </div>
    </div>
    <!-- Top Menu Container Ends -->

    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------- Unit Container ---------------------------------------------------- -->
    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <div class="menu-container unitContainer d-none">

      <!-- Slide-in Panel -->
      <div id="unitSlideInPanel" class="unitPanel shadow-lg px-4">

        <div class="row d-flex justify-content-center">

          <div class="col-sm-12 col-md-12 col-md-12">

            <div class="text-center mt-4">
              <span class="fw-bold fs-5">Add Unit Data</span>
              <hr />
            </div>

            <div class="form-group mt-4">
              <label for="unit-name">Unit Code</label>
              <input id="unit_name" class="form-control" type="text" placeholder="eg. Chennai" name="unit-name"
                required>
            </div>

            <div class="form-group mt-4">
              <label for="unit-name">Unit Name</label>
              <input id="unit_name" class="form-control" type="text" placeholder="eg. Chennai" name="unit-name"
                required>
            </div>

            <div class="form-group mt-4">
              <label for="unit-name">Unit Type</label>
              <select class="form-control" id="unitType" name="location">
                <option value="Peeling Center">Peeling Center</option>
                <option value="Collection Center">Collection Center</option>
                <option value="Cooking Center">Cooking Center</option>
                <option value="Distribution Center">Distribution Center</option>
              </select>
            </div>

            <div class="form-group my-3">
              <label for="Description">Location</label>
              <select class="form-control" id="unitLocations" name="unitLocation">
              </select>
            </div>

            <div class="d-flex justify-content-between mt-4 bg-white py-3 bottom-0">
              <div id="submitUnit" class="col-lg-5 btn btn-danger">Save</div>
              <div id="closeUnitPanelBtn" class="col-lg-5 btn btn-outline-danger">Close</div>
            </div>

          </div>
        </div>

      </div>

      <!-- Table Content -->
      <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
        <div class="border p-4 w-100">

          <!-- Add Button -->
          <div class="d-flex rounded-2 justify-content-end pb-4">
            <div id="openUnitPanelBtn" class="btn btn-outline-danger d-flex justify-content-around"
              style="width: 100px;">
              <i class="fa-solid fa-circle-plus my-auto"></i>
              <span style="margin-top: 4px;" class="fw-bold">Add</span>
            </div>
          </div>

          <table id="unitTable" class="table table-hover nowrap w-100">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="fw-bold"><span>Unit Code</span></th>
                <th class="fw-bold"><span>Unit Name</span></th>
                <th class="fw-bold"><span>Unit Type</span></th>
                <th class="fw-bold"><span>Location Name</span></th>
                <th class="fw-bold"><span>Created At</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- Unit Container Ends -->

    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------- Location Container ---------------------------------------------------- -->
    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <div class="menu-container locationContainer d-none">

      <!-- Slide-in Panel -->
      <div id="locationSlideInPanel" class="locationPanel shadow-lg px-4">

        <div class="row d-flex justify-content-center">

          <div class="col-sm-12 col-md-12 col-md-12">

            <div class="text-center mt-4">
              <span class="fw-bold fs-5">Add Location Data</span>
              <hr />
            </div>

            <div class="form-group mt-4">
              <label for="location-name">Location Name</label>
              <input id="location_name" class="form-control" type="text" placeholder="eg. Chennai" name="location-name"
                required>
            </div>

            <div class="form-group my-3">
              <label for="Description">Description</label>
              <input id="description" class="form-control" placeholder="eg. AJs" type="text" name="Description">
            </div>

            <div class="d-flex justify-content-between mt-4 bg-white py-3 bottom-0">
              <div id="submitLocation" class="col-lg-5 btn btn-danger">Save</div>
              <div id="closeLocationPanelBtn" class="col-lg-5 btn btn-outline-danger">Close</div>
            </div>

          </div>
        </div>

      </div>

      <!-- Table Content -->
      <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
        <div class="border p-4 w-100">

          <!-- Add Button -->
          <div class="d-flex rounded-2 justify-content-end pb-4">
            <div id="openLocationPanelBtn" class="btn btn-outline-danger d-flex justify-content-around"
              style="width: 100px;">
              <i class="fa-solid fa-circle-plus my-auto"></i>
              <span style="margin-top: 4px;" class="fw-bold">Add</span>
            </div>
          </div>

          <table id="locationTable" class="table table-hover nowrap w-100">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="fw-bold"><span>Location Name</span></th>
                <th class="fw-bold"><span>Description</span></th>
                <th class="fw-bold"><span>Created At</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- Location Container Ends -->


    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------- Vendor Container ---------------------------------------------------- -->
    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <div class="menu-container vendorContainer d-none">

      <!-- Slide-in Panel -->
      <div id="vendorSlideInPanel" class="vendorPanel shadow-lg px-4">

        <div class="row d-flex justify-content-center">

          <div class="col-sm-12 col-md-12 col-md-12">

            <div class="text-center mt-4">
              <span class="fw-bold fs-5">Add Vendor Data</span>
              <hr />
            </div>

            <div class="form-group mt-4">
              <label for="vendor-name">Vendor Name</label>
              <input id="vendor_name" class="form-control" type="text" placeholder="eg. Jone" name="vendor-name"
                required>
            </div>

            <div class="form-group my-3">
              <label for="vendor-location">Location</label>
              <select class="form-control" id="vendorLocations" name="location">
              </select>
            </div>

            <div class="form-group my-3">
              <label for="Representative">Representative</label>
              <input id="representative" class="form-control" placeholder="eg. AJs" type="text" name="Representative">
            </div>

            <div class="form-group my-3">
              <label for="phoneno">Phone No</label>
              <input id="phone" class="form-control" type="tel" pattern="[6789][0-9]{9}" placeholder="eg. 9876543210"
                name="phoneno" required>
            </div>

            <div class="form-group my-3">
              <label for="email">Email</label>
              <input id="email" class="form-control" type="text"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Enter a valid email address"
                placeholder="eg. xyz@gmail.com" name="email">
            </div>

            <div class="form-group my-3">
              <label for="address">Address</label>
              <textarea id="address" class="form-control" placeholder="eg. xyz" type="text" name="address"
                rows="4"></textarea>
            </div>

            <div class="d-flex justify-content-between mt-4 bg-white py-3 bottom-0">
              <div id="submitVendor" class="col-lg-5 btn btn-danger">Save</div>
              <div id="closeVendorPanelBtn" class="col-lg-5 btn btn-outline-danger">Close</div>
            </div>

          </div>
        </div>

      </div>

      <!-- Table Content -->
      <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
        <div class="border p-4 w-100">

          <!-- Add Button -->
          <div class="d-flex rounded-2 justify-content-end pb-4">
            <div id="openVendorPanelBtn" class="btn btn-outline-danger d-flex justify-content-around"
              style="width: 100px;">
              <i class="fa-solid fa-circle-plus my-auto"></i>
              <span style="margin-top: 4px;" class="fw-bold">Add</span>
            </div>
          </div>

          <table id="vendorTable" class="table table-hover nowrap w-100">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="fw-bold"><span>Vendor Name</span></th>
                <th class="fw-bold"><span>Location</span></th>
                <th class="fw-bold"><span>Representative</span></th>
                <th class="fw-bold"><span>Phone</span></th>
                <th class="fw-bold"><span>Email</span></th>
                <th class="fw-bold"><span>Address</span></th>
                <th class="fw-bold"><span>Created At</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- Vendor Container Ends -->

  </div>
</body>

<script type="text/javascript">
  jQuery(document).ready(function ($) {

    $(".topMenu-item").click(function () {
      $(".topMenu-item").removeClass('topMenu-item-active')

      $(this).addClass('topMenu-item-active')
    })


    $(".locationMenu").click(function () {
      $(".menu-container").removeClass('d-none')

      $(".vendorContainer").addClass('d-block')

      loadVendorsTableData()
    })

    toastr.options = {
      closeButton: false,
      debug: false,
      newestOnTop: true,
      progressBar: true,
      positionClass: "toast-top-right",
      preventDuplicates: false,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      timeOut: "5000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut",
    };

    // ---------------------------------------------------------
    // -------------------------- Units ------------------------
    // ---------------------------------------------------------

    // Open panel
    $('#openUnitPanelBtn').click(function () {
      $('#unitSlideInPanel').css('right', '0');

      loadUnitLocations()


      $("#unitType")
        .select2({
          placeholder: "Choose a location",
          allowClear: true,
        })

      // Clearing selected value
      $('#unitType').val(null).trigger('change');
    });

    // Close panel
    $('#closeUnitPanelBtn').click(function () {
      $('#unitSlideInPanel').css('right', '-600px');

      $('select.select2-hidden-accessible').select2('destroy');
    });

    $(".unitMenu").click(function () {
      $(".menu-container").addClass('d-none')

      $(".unitContainer").removeClass('d-none')
      $(".unitContainer").addClass('d-block')

      loadUnitTableData()
    })

    $("#submitUnit").click(function () {
      saveUnit()
    })

    function loadUnitTableData() {
      $("#unitTable").DataTable({
        // searching: true,
        destroy: true,
        responsive: true,
        processing: true,
        serverSide: true,
        scrollX: true,
        // scrollY: "40vh",
        ordering: false,
        ajax: {
          type: "GET",
          url: "/api/v1/master/unit/get/all",
          error: function (xhr, error, code) {
            $("#unitTable").DataTable().destroy();
            $("#unitTable").DataTable({
              scrollX: true,
              ordering: false,
            })

            toastr.error(xhr.responseJSON.message, 'Error')
          },
          "dataSrc": function (json) {
            json.iTotalRecords = json.data?.rows?.length
            json.iTotalDisplayRecords = json.data?.count

            // Return the data to be displayed in the DataTable
            return json?.data?.rows;
          }
        },
        columns: [
          { data: null },
          { data: null },
          { data: "unit_code" },
          { data: "unit_name" },
          { data: "unit_type" },
          { data: "location" },
          { data: "created_at" },
        ],
        columnDefs: [
          {
            targets: [0],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-pen-to-square edit editUnit" unit_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:red" data-toggle="tooltip" data-placement="top" title="Click this button to edit this unit"></i>'
            },
          },
          {
            targets: [1],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-trash del delUnit" unit_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:red" data-toggle="tooltip" data-placement="top" title="Click this button to delete this unit"></i>'
            },
          },
          {
            targets: [4],
            className: "text-left",
            render: function (data, type, row) {
              const date = new Date(row["created_at"]);

              var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var ampm = hours >= 12 ? 'PM' : 'AM';
              hours = hours % 12;
              hours = hours ? hours : 12; // Handle midnight (0 hours)
              minutes = minutes < 10 ? '0' + minutes : minutes;
              var strTime = hours + ':' + minutes + ' ' + ampm;
              var month = months[date.getMonth()];
              var day = date.getDate().toString().padStart(2, '0'); // Ensure day is always two digits
              return day + '-' + month + '-' + date.getFullYear() + ' ' + strTime;
            },
          },
        ],
        // "infoCallback": function (settings, start, end, max, total, pre) {
        //   return start + " to " + end;
        // }
      });
    }

    $(document).on('click', '.delUnit', (e) => {
      let unit_master_id = $(e.target).attr('unit_master_id')
      let currentRow = $(e.target).closest('tr')
      $.confirm({
        title: 'Delete Unit?',
        content: 'Are you sure, do you want to remove this unit?',
        backgroundDismiss: false,
        backgroundDismissAnimation: 'glow',
        type: 'red',
        closeIcon: true,
        closeIconClass: 'fa fa-close',
        typeAnimated: true,
        boxWidth: '30%',
        useBootstrap: false,
        autoClose: 'no|5000',
        buttons: {
          delete: {
            text: 'Delete',
            btnClass: 'btn-red',
            action: function () {
              $.ajax({
                url: '/api/v1/master/unit/delete',
                method: 'post',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                  unit_master_id,
                })
              }).done(function (response) {
                //loading data to table
                loadUnitTableData()

                toastr.success('Unit deleted successfully', 'Deleted')
              }).fail(function () {
                toastr.error('Unit failed to delete!', 'Error')
              });
            }
          },
          no: function () {
            toastr.info('Unit is safe now', 'Info')
          }
        }
      });
    })

    function loadUnitLocations() {
      // Load Roles
      $.ajax({
        url: "/api/v1/master/location/get/all",
        method: "GET",
        dataType: "json",
        contentType: "application/json",
        crossDomain: true,
        processData: false,
        success: (data) => {
          // Loading data
          $("#unitLocations")
            .select2({
              placeholder: "Choose a location",
              allowClear: true,
              data: $.map(data?.data?.rows, function (item) {
                return {
                  id: item.id,
                  text: item.location_name
                };
              }),
            })

          // Clearing selected value
          $('#unitLocations').val(null).trigger('change');
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }

    function saveUnit() {
      const input_params = {
        unit_name: $("#unit_name").val(),
        description: $("#description").val(),
      }

      $.ajax({
        url: "/api/v1/master/unit/create",
        method: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(input_params),
        crossDomain: true,
        processData: false,
        success: (data) => {
          toastr["success"](data?.message);

          $("#closeUnitPanelBtn").click()

          loadUnitTableData()
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }

    // ---------------------------------------------------------
    // ----------------------- Locations -----------------------
    // ---------------------------------------------------------

    // Open panel
    $('#openLocationPanelBtn').click(function () {
      $('#locationSlideInPanel').css('right', '0');
    });

    // Close panel
    $('#closeLocationPanelBtn').click(function () {
      $('#locationSlideInPanel').css('right', '-600px');
    });

    $(".locationMenu").click(function () {
      $(".menu-container").addClass('d-none')

      $(".locationContainer").removeClass('d-none')
      $(".locationContainer").addClass('d-block')

      loadLocationTableData()
    })

    $("#submitLocation").click(function () {
      saveLocation()
    })

    function loadLocationTableData() {
      $("#locationTable").DataTable({
        // searching: true,
        destroy: true,
        responsive: true,
        processing: true,
        serverSide: true,
        scrollX: true,
        // scrollY: "40vh",
        ordering: false,
        ajax: {
          type: "GET",
          url: "/api/v1/master/location/get/all",
          error: function (xhr, error, code) {
            $("#locationTable").DataTable().destroy();
            $("#locationTable").DataTable({ scrollX: true })

            toastr.error(xhr.responseJSON.message, 'Error')
          },
          "dataSrc": function (json) {
            json.iTotalRecords = json.data?.rows?.length
            json.iTotalDisplayRecords = json.data?.count

            // Return the data to be displayed in the DataTable
            return json?.data?.rows;
          }
        },
        columns: [
          { data: null },
          { data: null },
          { data: "location_name" },
          { data: "description" },
          { data: "created_at" },
        ],
        columnDefs: [
          {
            targets: [0],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-pen-to-square edit editLocation" location_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:red" data-toggle="tooltip" data-placement="top" title="Click this button to edit this location"></i>'
            },
          },
          {
            targets: [1],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-trash del delLocation" location_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:red" data-toggle="tooltip" data-placement="top" title="Click this button to delete this location"></i>'
            },
          },
          {
            targets: [4],
            className: "text-left",
            render: function (data, type, row) {
              const date = new Date(row["created_at"]);

              var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var ampm = hours >= 12 ? 'PM' : 'AM';
              hours = hours % 12;
              hours = hours ? hours : 12; // Handle midnight (0 hours)
              minutes = minutes < 10 ? '0' + minutes : minutes;
              var strTime = hours + ':' + minutes + ' ' + ampm;
              var month = months[date.getMonth()];
              var day = date.getDate().toString().padStart(2, '0'); // Ensure day is always two digits
              return day + '-' + month + '-' + date.getFullYear() + ' ' + strTime;
            },
          },
        ],
        // "infoCallback": function (settings, start, end, max, total, pre) {
        //   return start + " to " + end;
        // }
      });
    }

    $(document).on('click', '.delLocation', (e) => {
      let location_master_id = $(e.target).attr('location_master_id')
      let currentRow = $(e.target).closest('tr')
      $.confirm({
        title: 'Delete Location?',
        content: 'Are you sure, do you want to remove this location?',
        backgroundDismiss: false,
        backgroundDismissAnimation: 'glow',
        type: 'red',
        closeIcon: true,
        closeIconClass: 'fa fa-close',
        typeAnimated: true,
        boxWidth: '30%',
        useBootstrap: false,
        autoClose: 'no|5000',
        buttons: {
          delete: {
            text: 'Delete',
            btnClass: 'btn-red',
            action: function () {
              $.ajax({
                url: '/api/v1/master/location/delete',
                method: 'post',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                  location_master_id,
                })
              }).done(function (response) {
                //loading data to table
                loadLocationTableData()

                toastr.success('Location deleted successfully', 'Deleted')
              }).fail(function () {
                toastr.error('Location failed to delete!', 'Error')
              });
            }
          },
          no: function () {
            toastr.info('Location is safe now', 'Info')
          }
        }
      });
    })

    function saveLocation() {
      const input_params = {
        location_name: $("#location_name").val(),
        description: $("#description").val(),
      }

      $.ajax({
        url: "/api/v1/master/location/create",
        method: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(input_params),
        crossDomain: true,
        processData: false,
        success: (data) => {
          toastr["success"](data?.message);

          $("#closeLocationPanelBtn").click()

          loadLocationTableData()
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }

    // ---------------------------------------------------------
    // ----------------------- Vendors -----------------------
    // ---------------------------------------------------------

    // Open panel
    $('#openVendorPanelBtn').click(function () {
      $('#vendorSlideInPanel').css('right', '0');
      // Load locations
      loadVendorLocations()
    });

    // Close panel
    $('#closeVendorPanelBtn').click(function () {
      $('#vendorSlideInPanel').css('right', '-600px');

      $('select.select2-hidden-accessible').select2('destroy');
    });

    $(".vendorMenu").click(function () {
      $(".menu-container").addClass('d-none')

      $(".vendorContainer").removeClass('d-none')
      $(".vendorContainer").addClass('d-block')

      loadVendorsTableData()
    })

    $("#submitVendor").click(function () {
      saveVendor()
    })

    function loadVendorsTableData() {
      $("#vendorTable").DataTable({
        // searching: true,
        destroy: true,
        responsive: false,
        processing: true,
        serverSide: true,
        scrollX: true,
        // scrollY: "40vh",
        ordering: false,
        ajax: {
          type: "GET",
          url: "/api/v1/master/vendor/get/all",
          error: function (xhr, error, code) {
            $("#vendorTable").DataTable().destroy();
            $("#vendorTable").DataTable({ scrollX: true })

            toastr.error(xhr.responseJSON.message, 'Error')
          },
          "dataSrc": function (json) {
            json.iTotalRecords = json.data?.rows?.length
            json.iTotalDisplayRecords = json.data?.count

            // Return the data to be displayed in the DataTable
            return json?.data?.rows;
          }
        },
        columns: [
          { data: null },
          { data: null },
          { data: "vendor_name" },
          { data: "LocationMaster.location_name" },
          { data: "representative" },
          { data: "phone" },
          { data: "email" },
          { data: "address" },
          { data: "created_at" },
        ],
        columnDefs: [
          {
            targets: [0],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-pen-to-square edit editVendor" vendor_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:red" data-toggle="tooltip" data-placement="top" title="Click this button to edit this row"></i>'
            },
          },
          {
            targets: [1],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-trash del delVendor" vendor_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:red" data-toggle="tooltip" data-placement="top" title="Click this button to delete this row"></i>'
            },
          },
          {
            targets: [8],
            className: "text-left",
            render: function (data, type, row) {
              const date = new Date(row["created_at"]);

              var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var ampm = hours >= 12 ? 'PM' : 'AM';
              hours = hours % 12;
              hours = hours ? hours : 12; // Handle midnight (0 hours)
              minutes = minutes < 10 ? '0' + minutes : minutes;
              var strTime = hours + ':' + minutes + ' ' + ampm;
              var month = months[date.getMonth()];
              var day = date.getDate().toString().padStart(2, '0'); // Ensure day is always two digits
              return day + '-' + month + '-' + date.getFullYear() + ' ' + strTime;
            },
          },
        ],
        // "infoCallback": function (settings, start, end, max, total, pre) {
        //   return start + " to " + end;
        // }
      });
    }

    $(document).on('click', '.delVendor', (e) => {
      let vendor_master_id = $(e.target).attr('vendor_master_id')
      let currentRow = $(e.target).closest('tr')
      $.confirm({
        title: 'Delete Vendor?',
        content: 'Are you sure, do you want to remove this vendor?',
        backgroundDismiss: false,
        backgroundDismissAnimation: 'glow',
        type: 'red',
        closeIcon: true,
        closeIconClass: 'fa fa-close',
        typeAnimated: true,
        boxWidth: '30%',
        useBootstrap: false,
        autoClose: 'no|5000',
        buttons: {
          delete: {
            text: 'Delete',
            btnClass: 'btn-red',
            action: function () {
              $.ajax({
                url: '/api/v1/master/vendor/delete',
                method: 'post',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                  vendor_master_id,
                })
              }).done(function (response) {
                //loading data to table
                loadVendorsTableData()

                toastr.success('Vendor deleted successfully', 'Deleted')
              }).fail(function () {
                toastr.error('Vendor failed to delete!', 'Error')
              });
            }
          },
          no: function () {
            toastr.info('Vendor is safe now', 'Info')
          }
        }
      });
    })

    function loadVendorLocations() {
      // Load Roles
      $.ajax({
        url: "/api/v1/master/location/get/all",
        method: "GET",
        dataType: "json",
        contentType: "application/json",
        crossDomain: true,
        processData: false,
        success: (data) => {
          // Loading data
          $("#vendorLocations")
            .select2({
              placeholder: "Choose a location",
              allowClear: true,
              data: $.map(data?.data?.rows, function (item) {
                return {
                  id: item.id,
                  text: item.location_name
                };
              }),
            })

          // Clearing selected value
          $('#vendorLocations').val(null).trigger('change');
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }

    function saveVendor() {
      const input_params = {
        vendor_name: $("#vendor_name").val(),
        representative: $("#representative").val(),
        address: $("#address").val(),
        phone: $("#phone").val(),
        email: $("#email").val(),
        location_master_id: $("#vendorLocations").val(),
      }

      // Load Roles
      $.ajax({
        url: "/api/v1/master/vendor/create",
        method: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(input_params),
        crossDomain: true,
        processData: false,
        success: (data) => {
          toastr["success"](data?.message);

          $("#closeVendorPanelBtn").click()

          loadVendorsTableData()
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }

  });
</script>

</html>