<!-- @format -->

<!DOCTYPE html>
<html lang="en">
<!-- title logo -->
<link rel="icon" href="/public/images/bse.png" type="image/icon type" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

<!-- Bootstrap  -->
<link href="/public/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="/public/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- jQuery -->
<script src="/public/plugins/jquery/jquery.min.js"></script>

<!-- DataTable -->
<link rel="stylesheet" type="text/css" href="/public/plugins/DataTables/datatables.min.css" />

<!-- Toast -->
<link rel="stylesheet" href="/public/plugins/Toastr/toastr.min.css" />
<script src="/public/plugins/Toastr/toastr.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="/public/plugins/font-awesome/css/all.min.css" />

<!-- SideBar -->
<link rel="stylesheet" href="/public/plugins/offcanvas/css/hc-offcanvas-nav.css" />
<!-- <link
    rel="stylesheet"
    href="/public/plugins/offcanvas/css/to/hc-offcanvas-nav.carbon.css"
  /> -->
<script src="/public/plugins/offcanvas/js/hc-offcanvas-nav.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/public/css/style.css" />

<!-- Custom Script -->
<script src="/public/custom/App.js"></script>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BSE</title>

  <style type="text/css">
    @font-face {
      font-family: "CassandraPersonalUse";
      src: url("/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf?v=2") format("truetype");
    }

    @font-face {
      font-family: "CerebriSansPro-Regular";
      src: url("/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf?v=2") format("truetype");
    }

    body {
      font-family: "CerebriSansPro-Regular";
      background-color: #f7f9fd;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #f7f9fd;
      overflow: hidden;
      border-radius: 5px;
      border: 1px solid black;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      border-right: 1px solid #1F2D3E;
    }

    #lastMenu {
      border-right: 0px solid #1F2D3E;
    }

    li a:hover {
      background-color: #1F2D3E;
      color: #EA5453;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="d-flex justify-content-center">
    <ul>
      <li title="tooltip goes here" data-bs-toggle="tooltip"><a href="#home">Factories</a></li>
      <li><a href="#news">Suppliers</a></li>
      <li><a href="#contact">Species</a></li>
      <li><a href="#about">Species Categories</a></li>
      <li><a href="#about">Species Grade</a></li>
      <li><a href="#contact">Vehicles</a></li>
      <li><a id="lastMenu" href="#about">Drivers</a></li>
    </ul>
  </div>
</body>

<script type="text/javascript">
  jQuery(document).ready(function ($) {

    toastr.options = {
      closeButton: false,
      debug: false,
      newestOnTop: true,
      progressBar: true,
      positionClass: "toast-top-right",
      preventDuplicates: false,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      timeOut: "5000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut",
    };


  });
</script>

</html>