<!-- @format -->

<!DOCTYPE html>
<html lang="en">
<!-- title logo -->
<link rel="icon" href="/public/images/bse.png" type="image/icon type" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

<!-- Bootstrap 
<link href="/public/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="/public/plugins/bootstrap/js/bootstrap.min.js"></script> -->

<!-- MDB5  -->
<link href="/public/plugins/MDB5-7.2.0/css/mdb.min.css" rel="stylesheet" />
<script src="/public/plugins/MDB5-7.2.0/js/mdb.es.min.js"></script>

<!-- jQuery -->
<script src="/public/plugins/jquery/jquery.min.js"></script>

<!-- Select2 -->
<link rel="stylesheet" href="/public/plugins/select2/css/select2.min.css" />
<script src="/public/plugins/select2/js/select2.min.js"></script>

<!-- DataTable -->
<link rel="stylesheet" href="/public/plugins/dataTables/datatables.min.css">
<script src="/public/plugins/dataTables/datatables.min.js"></script>
<script src="/public/plugins/dataTables/dataTables.bootstrap5.min.js"></script>
<!-- Responsive Datatable -->
<link rel="stylesheet" href="/public/plugins/dataTables/datatables.responsive.min.css">
<script src="/public/plugins/dataTables/datatables.responsive.min.js"></script>

<!-- Toast -->
<link rel="stylesheet" href="/public/plugins/Toastr/toastr.min.css" />
<script src="/public/plugins/Toastr/toastr.min.js"></script>

<!-- perfect-scrollbar plugin -->
<script src="/public/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="/public/plugins/font-awesome/css/all.min.css" />

<!-- jQuery Confirm -->
<link rel="stylesheet" href="/public/plugins/jquery-confirm/css/jquery-confirm.min.css">
<script src="/public/plugins/jquery-confirm/js/jquery-confirm.min.js"></script>

<!-- Slide-in Panel -->
<link rel="stylesheet" href="/public/plugins/slide-in-panel/css/slidePanel.min.css">
<script src="/public/plugins/slide-in-panel/js/slidePanel.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/public/css/style.css" />

<!-- Custom Script -->
<script src="/public/custom/App.js"></script>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BSE</title>

  <style type="text/css">
    @font-face {
      font-family: "CassandraPersonalUse";
      src: url("/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf?v=2") format("truetype");
    }

    @font-face {
      font-family: "CerebriSansPro-Regular";
      src: url("/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf?v=2") format("truetype");
    }

    body {
      font-family: "CerebriSansPro-Regular";
      background-color: #f7f9fd;
    }

    #closeVehiclePanelBtn,
    .panelClose {
      cursor: pointer
    }

    .toast {
      opacity: 1 !important;
    }

    .show-dot {
      display: none !important;
    }

    .topMenu-item {
      display: block;
      color: rgb(44 44 44);
      text-align: center;
      /* padding: 0px; */
      text-decoration: none;
      border-right: 0px solid #1F2D3E;
      /* padding-bottom: 3px !important; */
      /* width: 25vh !important; */
      cursor: pointer;
    }

    #lastMenu {
      border-right: 0px solid #414a57;
    }

    .topMenu-item:hover:not(.topMenu-item-active) {
      /* border-bottom: 1px solid #ea5455; */
      color: #ea5455 !important;
      /* font-weight: bold; */
      transition: right 0.3s ease;
    }

    .topMenu-item {
      color: #14274e !important;
      width: 100px;
    }

    .bg-danger,
    .btn-red {
      background-color: #ea5455;
    }

    .topMenu-item-active {
      border-bottom: 1px solid #ea5455;
      color: #ea5455 !important;
      /* background-color: #f07b3f; */
      /* border-radius: 8px; */
      transition: right 0.3s ease;
      /* font-weight: bold; */
    }

    .edit,
    .del {
      cursor: pointer;
    }

    .slideInPanel {
      z-index: 9999;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -600px;
      width: 400px;
      background-color: #1f2d3e;
      color: #e3e3e3;
      height: 90vh;
      /* box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); */
      transition: right 0.3s ease;
      border-radius: 8px;
    }

    /* Input */
    .slideInPanel input {
      background-color: transparent;
      border-color: rgba(98, 114, 147, 0.6);
    }

    .slideInPanel input:focus {
      background-color: transparent;
    }

    .slideInPanel input:hover {
      border-color: #627293;
    }

    /* Select */
    .slideInPanel .select2-container {
      background-color: transparent;
      border-color: rgba(98, 114, 147, 0.6);
    }

    .select2-container {
      width: 100% !important;
    }

    .slideInPanel .select:focus {
      background-color: transparent;
      border-color: #627293;
    }

    .slideInPanel .select2-container:hover {
      border-color: #627293;
    }

    /* TextArea */
    .slideInPanel textarea {
      background-color: transparent;
      border-color: rgba(98, 114, 147, 0.6);
    }

    .slideInPanel textarea:focus {
      background-color: transparent;
    }

    .slideInPanel textarea:hover {
      border-color: #627293;
    }

    /* Form Control */
    .slideInPanel .form-control {
      color: #f7f9fc;
    }

    .slideInPanel .form-control::placeholder {
      color: #627293;
    }

    .page-item.active .page-link {
      color: #fff !important;
      background-color: #ea5455 !important;
      border-color: #ea5455 !important;
    }

    .page-link {
      color: #000 !important;
      background-color: #fff !important;
      border: 1px solid #dee2e6 !important;
    }

    .page-link:hover {
      color: #fff !important;
      background-color: #f17979 !important;
      border-color: #ea5455 !important;
    }

    .select2-dropdown {
      z-index: 10000 !important;
    }
  </style>
</head>

<body>
  <div class="">

    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------------ Top Menu Container ----------------------------------------------- -->
    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <div class="topMenu-container d-flex justify-content-center mt-0">
      <div class="topMenu-item locationMenu d-flex flex-column justify-content-center align-items-center mx-3 p-2">
        <div class="fs-6">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="pt-2">
          <span>Location</span>
        </div>
      </div>

      <div class="topMenu-item unitMenu d-flex flex-column justify-content-center align-items-center mx-3 p-2">
        <div class="fs-6">
          <i class="fa-solid fa-warehouse"></i>
        </div>
        <div class="pt-2">
          <span>Units</span>
        </div>
      </div>

      <div class="topMenu-item vendorMenu d-flex flex-column justify-content-center align-items-center mx-3 p-2">
        <div class="fs-6">
          <i class="fa-solid fa-users"></i>
        </div>
        <div class="pt-2">
          <span>Vendors</span>
        </div>
      </div>

      <div class="topMenu-item packagingMenu d-flex flex-column justify-content-center align-items-center mx-3 p-2">
        <div class="fs-6">
          <i class="fa-solid fa-boxes-packing"></i>
        </div>
        <div class="pt-2">
          <span>Packaging</span>
        </div>
      </div>

      <div class="topMenu-item productMenu d-flex flex-column justify-content-center align-items-center mx-3 p-2">
        <div class="fs-6">
          <i class="fa-solid fa-shrimp"></i>
        </div>
        <div class="pt-2">
          <span>Products</span>
        </div>
      </div>

      <div class="topMenu-item vehicleMenu d-flex flex-column justify-content-center align-items-center mx-3 p-2">
        <div class="fs-6">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="pt-2">
          <span>Vehicles</span>
        </div>
      </div>

      <div class="topMenu-item driverMenu d-flex flex-column justify-content-center align-items-center mx-3 p-2">
        <div class="fs-6">
          <i class="fa-regular fa-id-card"></i>
        </div>
        <div class="pt-2">
          <span>Drivers</span>
        </div>
        <div class="show-dot>
          <i class=" fa-solid fa-circle bg-danger rounded-circle" style="font-size: 5px;"></i>
        </div>
      </div>
    </div>
    <!-- Top Menu Container Ends -->

    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------- Location Container ---------------------------------------------------- -->
    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <div class="menu-container locationContainer d-none">

      <!-- Slide-in Panel -->
      <div id="locationSlideInPanel" class="slideInPanel px-4 overflow-auto">

        <div class="row d-flex justify-content-center">

          <div class="col-sm-12 col-md-12 col-md-12">

            <div class="text-center mt-4 d-flex justify-content-between">
              <span id="locationPanelHeading" class="fw-bold fs-5">Add Location Data</span>
              <div class="col my-auto d-flex justify-content-end">
                <i class="fa-solid fa-circle-xmark my-auto panelClose" id="closeLocationPanelBtn"></i>
              </div>
            </div>

            <hr />

            <div class="form-group mt-4">
              <label for="location-name">Location Name</label>
              <input id="location_name" class="form-control" type="text" placeholder="eg. Chennai" name="location-name"
                required>
            </div>

            <div class="form-group my-3">
              <label for="Description">Description</label>
              <input id="description" class="form-control" placeholder="eg. AJs" type="text" name="Description">
            </div>

            <div class="d-flex justify-content-between mt-4 py-3 pb-4">
              <div id="submitLocation" class="col-lg-5 btn btn-danger">Save</div>
              <div id="resetLocationDataBtn" class="col-lg-5 btn btn-outline-danger">Clear</div>
            </div>

          </div>
        </div>

      </div>

      <!-- Table Content -->
      <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
        <div class="border p-4 w-100">

          <!-- Add Button -->
          <div class="d-flex rounded-2 justify-content-end pb-4">
            <div id="openLocationPanelBtn" class="btn btn-outline-danger d-flex justify-content-around"
              style="width: 100px;">
              <i class="fa-solid fa-circle-plus my-auto"></i>
              <span style="margin-top: 4px;" class="fw-bold my-auto">Add</span>
            </div>
          </div>

          <table id="locationTable" class="table table-hover nowrap w-100">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="fw-bold"><span>Location Name</span></th>
                <th class="fw-bold"><span>Description</span></th>
                <th class="fw-bold"><span>Created At</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- Location Container Ends -->

    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------- Unit Container ---------------------------------------------------- -->
    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <div class="menu-container unitContainer d-none">

      <!-- Slide-in Panel -->
      <div id="unitSlideInPanel" class="slideInPanel px-4 overflow-auto">

        <div class="row d-flex justify-content-center">

          <div class="col-sm-12 col-md-12 col-md-12">

            <div class="text-center mt-4 d-flex justify-content-between">
              <span id="unitPanelHeading" class="fw-bold fs-5">Add Unit Data</span>
              <div class="col my-auto d-flex justify-content-end">
                <i class="fa-solid fa-circle-xmark my-auto panelClose" id="closeUnitPanelBtn"></i>
              </div>
            </div>

            <hr />

            <div class="form-group mt-4">
              <label for="unit-name">Unit Name</label>
              <input id="unit_name" class="form-control" type="text" placeholder="eg. Chennai" name="unit-name"
                required>
            </div>

            <div class="form-group my-3">
              <label for="Description">Location</label>
              <select class="form-control input-dropdown w-100" id="unitLocations" name="unitLocation">
              </select>
            </div>

            <div class="form-group mt-4">
              <label for="unit-type">Unit Type</label>
              <select class="form-control input-dropdown w-100" id="unitType" name="unitType">
              </select>
            </div>

            <div class="d-flex justify-content-between mt-4 py-3 pb-4">
              <div id="submitUnit" class="col-lg-5 btn btn-danger">Save</div>
              <div id="resetUnitDataBtn" class="col-lg-5 btn btn-outline-danger">Clear</div>
            </div>

          </div>
        </div>

      </div>

      <!-- Table Content -->
      <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
        <div class="border p-4 w-100">

          <!-- Add Button -->
          <div class="d-flex rounded-2 justify-content-end pb-4">
            <div id="openUnitPanelBtn" class="btn btn-outline-danger d-flex justify-content-around"
              style="width: 100px;">
              <i class="fa-solid fa-circle-plus my-auto"></i>
              <span style="margin-top: 4px;" class="fw-bold my-auto">Add</span>
            </div>
          </div>

          <table id="unitTable" class="table table-hover nowrap w-100">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="fw-bold"><span>Unit Code</span></th>
                <th class="fw-bold"><span>Unit Name</span></th>
                <th class="fw-bold"><span>Unit Type</span></th>
                <th class="fw-bold"><span>Location Name</span></th>
                <th class="fw-bold"><span>Created At</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- Unit Container Ends -->

    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------- Vendor Container ---------------------------------------------------- -->
    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <div class="menu-container vendorContainer d-none">

      <!-- Slide-in Panel -->
      <div id="vendorSlideInPanel" class="slideInPanel px-4 overflow-auto">

        <div class="row d-flex justify-content-center">

          <div class="col-sm-12 col-md-12 col-md-12">

            <div class="text-center mt-4 d-flex justify-content-between">
              <span id="vendorPanelHeading" class="fw-bold fs-5">Add Vendor Data</span>
              <div class="col my-auto d-flex justify-content-end">
                <i class="fa-solid fa-circle-xmark my-auto panelClose" id="closeVendorPanelBtn"></i>
              </div>
            </div>

            <hr />

            <div class="form-group mt-4">
              <label for="vendor-name">Vendor Name</label>
              <input id="vendor_name" class="form-control" type="text" placeholder="eg. Jone" name="vendor-name"
                required>
            </div>

            <div class="form-group my-3">
              <label for="vendor-location">Location</label>
              <select class="form-control input-dropdown" id="vendorLocations" name="location">
              </select>
            </div>

            <div class="form-group my-3">
              <label for="Representative">Representative</label>
              <input id="representative" class="form-control" placeholder="eg. AJs" type="text" name="Representative">
            </div>

            <div class="form-group my-3">
              <label for="phoneno">Phone No</label>
              <input id="phone" class="form-control" type="tel" pattern="[6789][0-9]{9}" placeholder="eg. 9876543210"
                name="phoneno" required>
            </div>

            <div class="form-group my-3">
              <label for="email">Email</label>
              <input id="email" class="form-control" type="email"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Enter a valid email address"
                placeholder="eg. xyz@gmail.com" name="email">
            </div>

            <div class="form-group my-3">
              <label for="address">Address</label>
              <textarea id="address" class="form-control" placeholder="eg. xyz" type="text" name="address"
                rows="4"></textarea>
            </div>

            <div class="d-flex justify-content-between mt-4 py-3 pb-4">
              <div id="submitVendor" class="col-lg-5 btn btn-danger">Save</div>
              <div id="resetVendorDataBtn" class="col-lg-5 btn btn-outline-danger">Clear</div>
            </div>

          </div>
        </div>

      </div>

      <!-- Table Content -->
      <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
        <div class="border p-4 w-100">

          <!-- Add Button -->
          <div class="d-flex rounded-2 justify-content-end pb-4">
            <div id="openVendorPanelBtn" class="btn btn-outline-danger d-flex justify-content-around"
              style="width: 100px;">
              <i class="fa-solid fa-circle-plus my-auto"></i>
              <span style="margin-top: 4px;" class="fw-bold my-auto">Add</span>
            </div>
          </div>

          <table id="vendorTable" class="table table-hover nowrap w-100">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="fw-bold"><span>Vendor Name</span></th>
                <th class="fw-bold"><span>Location</span></th>
                <th class="fw-bold"><span>Representative</span></th>
                <th class="fw-bold"><span>Phone</span></th>
                <th class="fw-bold"><span>Email</span></th>
                <th class="fw-bold"><span>Address</span></th>
                <th class="fw-bold"><span>Created At</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- Vendor Container Ends -->

    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------------ Packaging Container ------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <div class="menu-container packagingContainer d-none">

      <!-- Slide-in Panel -->
      <div id="packagingSlideInPanel" class="slideInPanel px-4 overflow-auto">

        <div class="row d-flex justify-content-center">

          <div class="col-sm-12 col-md-12 col-md-12">

            <div class="text-center mt-4 d-flex justify-content-between">
              <span id="packagingPanelHeading" class="fw-bold fs-5">Add Packaging Data</span>
              <div class="col my-auto d-flex justify-content-end">
                <i class="fa-solid fa-circle-xmark my-auto panelClose" id="closePackagingPanelBtn"></i>
              </div>
            </div>

            <hr />

            <div class="">

              <div class="form-group my-3">
                <label for="packaging_type">Type</label>
                <select class="form-control input-dropdown w-100" id="packagingType" name="packagingType"
                  required></select>
              </div>

              <div class="form-group my-3">
                <label for="packagingLength">Length (cm)</label>
                <input id="packagingLength" maxlength="12" class="form-control" placeholder="eg. 12" type="number"
                  name="packagingLength">
              </div>

              <div class="form-group my-3">
                <label for="packagingWidth">Width (cm)</label>
                <input id="packagingWidth" maxlength="10" class="form-control" placeholder="eg. 12" type="number"
                  name="packagingWidth">
              </div>

              <div class="form-group my-3">
                <label for="packagingHeight">Height (cm)</label>
                <input id="packagingHeight" maxlength="10" class="form-control" placeholder="eg. 24" type="number"
                  name="packagingHeight">
              </div>

              <div class="form-group my-3">
                <label for="packagingMaterialComposition">Material Composition</label>
                <select id="packagingMaterialComposition" class="form-control input-dropdown w-100"
                  name="packagingMaterialComposition" required></select>
              </div>

              <div class="form-group my-3">
                <label for="packagingSupplier">Supplier</label>
                <textarea id="packagingSupplier" rows="3" class="form-control" placeholder="eg. JCB"
                  name="packagingSupplier">
                  </textarea>
              </div>
            </div>


            <div class="d-flex justify-content-between mt-4 py-3 pb-4">
              <div id="submitPackaging" class="col-lg-5 btn btn-danger">Save</div>
              <div id="resetPackagingDataBtn" class="col-lg-5 btn btn-outline-danger">Clear</div>
            </div>


          </div>
        </div>

      </div>

      <!-- Table Content -->
      <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
        <div class="border p-4 w-100">

          <!-- Add Button -->
          <div class="d-flex rounded-2 justify-content-end pb-4">
            <div id="openPackagingPanelBtn" class="btn btn-outline-danger d-flex justify-content-around"
              style="width: 100px;">
              <i class="fa-solid fa-circle-plus my-auto"></i>
              <span style="margin-top: 4px;" class="fw-bold my-auto">Add</span>
            </div>
          </div>

          <table id="packagingTable" class="table table-hover nowrap w-100">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="fw-bold"><span>Code</span></th>
                <th class="fw-bold"><span>Type</span></th>
                <th class="fw-bold"><span>Length (cm)</span></th>
                <th class="fw-bold"><span>Width (cm)</span></th>
                <th class="fw-bold"><span>Height (cm)</span></th>
                <th class="fw-bold"><span>Material Composition</span></th>
                <th class="fw-bold"><span>Supplier</span></th>
                <th class="fw-bold"><span>Created At</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- Driver Container Ends -->

    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------------ Vehicle Container ------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <div class="menu-container vehicleContainer d-none">

      <!-- Slide-in Panel -->
      <div id="vehicleSlideInPanel" class="slideInPanel px-4 overflow-auto">

        <div class="row d-flex justify-content-center">

          <div class="col-sm-12 col-md-12 col-md-12">

            <div class="text-center mt-4 d-flex justify-content-between">
              <span id="vehiclePanelHeading" class="fw-bold fs-5">Add Vehicle Data</span>
              <div class="col my-auto d-flex justify-content-end">
                <i class="fa-solid fa-circle-xmark my-auto panelClose" id="closeVehiclePanelBtn"></i>
              </div>
            </div>

            <hr />

            <div class="form-group mt-4">
              <label for="vehicle-number">Vehicle Number</label>
              <input id="vehicle_number" class="form-control" type="text" placeholder="eg. TN65A1234"
                name="vehicle-name" required>
            </div>

            <div class="form-group my-3">
              <label for="Description">Vehicle Brand</label>
              <input id="vehicle_brand" class="form-control" placeholder="eg. Ashok Leyland" type="text">
            </div>

            <div class="form-group my-3">
              <label for="Description">Model Number</label>
              <input id="model_number" class="form-control" placeholder="eg. 4020 - 4x2 Tractor" type="text">
            </div>

            <div class="form-group my-3">
              <label for="InsuranceProvider">Insurance Provider</label>
              <input id="insurance_provider" class="form-control" placeholder="eg. Bajaj" type="text"
                name="InsuranceProvider">
            </div>

            <div class="form-group my-3">
              <label for="InsuranceNumber">Insurance Number</label>
              <input id="insurance_number" class="form-control" placeholder="eg. BJ0123456" type="text"
                name="InsuranceNumber">
            </div>

            <div class="form-group my-3">
              <label for="InsuranceExpiringOn">Insurance Expiring On</label>
              <input id="insurance_expiring_on" class="form-control" placeholder="27-02-2024" type="date"
                name="InsuranceExpiringOn">
            </div>

            <div class="form-group my-3">
              <label for="LastFCDate">Last FC Date</label>
              <input id="last_fc_date" class="form-control" placeholder="27-02-2024" type="date" name="LastFCDate">
            </div>

            <div class="d-flex justify-content-between mt-4 py-3 pb-4">
              <div id="submitVehicle" class="col-lg-5 btn btn-danger">Save</div>
              <div id="resetVehicleDataBtn" class="col-lg-5 btn btn-outline-danger">Clear</div>
            </div>

          </div>
        </div>

      </div>

      <!-- Table Content -->
      <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
        <div class="border p-4 w-100">

          <!-- Add Button -->
          <div class="d-flex rounded-2 justify-content-end pb-4">
            <div id="openVehiclePanelBtn" class="btn btn-outline-danger d-flex justify-content-around"
              style="width: 100px;">
              <i class="fa-solid fa-circle-plus my-auto"></i>
              <span style="margin-top: 4px;" class="fw-bold my-auto">Add</span>
            </div>
          </div>

          <table id="vehicleTable" class="table table-hover nowrap w-100">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="fw-bold"><span>Vehicle Number</span></th>
                <th class="fw-bold"><span>Vehicle Brand</span></th>
                <th class="fw-bold"><span>Model Number</span></th>
                <th class="fw-bold"><span>Insurance Provider</span></th>
                <th class="fw-bold"><span>Insurance Number</span></th>
                <th class="fw-bold"><span>Insurance Expiring On</span></th>
                <th class="fw-bold"><span>Last FC Date</span></th>
                <th class="fw-bold"><span>Created At</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- Vehicle Container Ends -->

    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------------ Driver Container ------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <div class="menu-container driverContainer d-none">

      <!-- Slide-in Panel -->
      <div id="driverSlideInPanel" class="slideInPanel px-4 overflow-auto">

        <div class="row d-flex justify-content-center">

          <div class="col-sm-12 col-md-12 col-md-12">

            <div class="text-center mt-4 d-flex justify-content-between">
              <span id="driverPanelHeading" class="fw-bold fs-5">Add Driver Data</span>
              <div class="col my-auto d-flex justify-content-end">
                <i class="fa-solid fa-circle-xmark my-auto panelClose" id="closeDriverPanelBtn"></i>
              </div>
            </div>

            <hr />

            <div class="">
              <div class="form-group mt-4">
                <label for="driver-number">Driver Name</label>
                <input id="driver_name" class="form-control" type="text" placeholder="eg. xyz" name="driver-name"
                  required>
              </div>

              <div class="form-group my-3">
                <label for="Description">License Number</label>
                <input id="license_number" class="form-control" placeholder="eg. TN201902032323" type="text">
              </div>

              <div class="form-group my-3">
                <label for="Aadhar">Aadhar Number</label>
                <input id="aadhar_number" maxlength="12" class="form-control" placeholder="eg. 123456789012"
                  type="text">
              </div>

              <div class="form-group my-3">
                <label for="Description">Contact Number</label>
                <input id="driver_phone" maxlength="10" class="form-control" placeholder="eg. 9876543210" type="text">
              </div>

              <div class="form-group my-3">
                <label for="Description">Emergency Contact</label>
                <input id="emergency_contact" maxlength="10" class="form-control" placeholder="eg. 9876543210"
                  type="text">
              </div>

              <div class="form-group my-3">
                <label for="Description">Blood Group</label>
                <input id="blood_group" class="form-control" placeholder="eg. B+" type="text">
              </div>

              <div class="form-group my-3">
                <label for=HealthHistory">Health History</label>
                <textarea id="health_history" rows="3" class="form-control" placeholder="eg. Diabetes"
                  name="Health History">
              </textarea>
              </div>

              <div class="form-group my-3">
                <label for=Address">Address</label>
                <textarea id="driver_address" rows="3" class="form-control" placeholder="eg. Address"
                  name="Health History">
              </textarea>
              </div>
            </div>


            <div class="d-flex justify-content-between mt-4 py-3 pb-4">
              <div id="submitDriver" class="col-lg-5 btn btn-danger">Save</div>
              <div id="resetDriverDataBtn" class="col-lg-5 btn btn-outline-danger">Clear</div>
            </div>


          </div>
        </div>

      </div>

      <!-- Table Content -->
      <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
        <div class="border p-4 w-100">

          <!-- Add Button -->
          <div class="d-flex rounded-2 justify-content-end pb-4">
            <div id="openDriverPanelBtn" class="btn btn-outline-danger d-flex justify-content-around"
              style="width: 100px;">
              <i class="fa-solid fa-circle-plus my-auto"></i>
              <span style="margin-top: 4px;" class="fw-bold my-auto">Add</span>
            </div>
          </div>

          <table id="driverTable" class="table table-hover nowrap w-100">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="fw-bold"><span>Driver Name</span></th>
                <th class="fw-bold"><span>License Number</span></th>
                <th class="fw-bold"><span>Phone</span></th>
                <th class="fw-bold"><span>Emergency Contact</span></th>
                <th class="fw-bold"><span>Aadhar Number</span></th>
                <th class="fw-bold"><span>Blood Group</span></th>
                <th class="fw-bold"><span>Health History</span></th>
                <th class="fw-bold"><span>Address</span></th>
                <th class="fw-bold"><span>Created At</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- Driver Container Ends -->



  </div>
</body>

<script type="text/javascript">
  jQuery(document).ready(function ($) {

    // Declarations
    new PerfectScrollbar(".slideInPanel", {
      suppressScrollX: true,
    }).update()

    toastr.options = {
      closeButton: false,
      debug: false,
      newestOnTop: true,
      progressBar: true,
      positionClass: "toast-top-right",
      preventDuplicates: false,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      timeOut: "5000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut",
    };

    // Open Location on load (default)
    $(".locationMenu").click()
    $(".menu-container").addClass('d-none')

    $(".locationContainer").removeClass('d-none')
    $(".locationContainer").addClass('d-block')

    loadLocationTableData()

    // Menu navigation
    $(".topMenu-item").click(function () {
      $(".topMenu-item").removeClass('topMenu-item-active')

      $(this).addClass('topMenu-item-active')

      $(".panelClose").click()

      resetAllInputs()
    })

    // Global Functions
    // Function to format date as YYYY-MM-DD
    function formatDate(date) {
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear();

      // Ensure 2-digit formatting
      if (day < 10) {
        day = '0' + day;
      }
      if (month < 10) {
        month = '0' + month;
      }

      return year + '-' + month + '-' + day;
    }

    function resetAllInputs() {
      $("input").val("")

      // Reset all date inputs
      var dateInputs = document.querySelectorAll('input[type="date"]');
      // looping all the date inputs
      dateInputs.forEach(function (input) {
        input.value = formatDate(new Date());
      });

      // Resetting textarea
      $('textarea').val("")

      // Resetting select field selected option
      $("#unitLocations").val(null).trigger('change');
      $("#unitType").val(null).trigger('change');
      $("#vendorLocations").val(null).trigger('change');
      $("#packagingType").val(null).trigger('change');
      $("#packagingMaterialComposition").val(null).trigger('change');
    }

    function openSlidePanel(panelId, panelHeadingId, panelType, panelSubmitButton, panelBtnAttrName) {
      // Opening Slide Panel
      $(`#${panelId}`).css('right', '0');

      // Changing panel Heading label
      $(`#${panelHeadingId}`).text(`Add ${panelType} Data`)

      // Changing panel save button label
      $(`#${panelSubmitButton}`).text("Save")

      // Changing panel save button attribute
      $(`#${panelSubmitButton}`).attr(panelBtnAttrName, null)
    }


    function closeSlidePanel(panelId) {
      // Opening Slide Panel
      $(`#${panelId}`).css('right', '-600px');

      // Resetting all the input fields' data
      resetAllInputs()

      // Destroying select2 all the dropdowns
      // $('select.select2-hidden-accessible').select2('destroy');
    }

    // Pre loading dropdown data
    loadUnitLocations()
    loadUnitType()
    loadVendorLocations()
    loadPackagingType()
    loadPackagingMaterialComposition()

    // ---------------------------------------------------------
    // ----------------------- Locations -----------------------
    // ---------------------------------------------------------

    // Open panel
    $('#openLocationPanelBtn').click(function () {
      openSlidePanel("locationSlideInPanel", "locationPanelHeading", "Location", "submitLocation", "location_master_id")
    });

    // Close panel
    $('#closeLocationPanelBtn').click(function () {
      closeSlidePanel("locationSlideInPanel")
    });

    $(".locationMenu").click(function () {
      $(".menu-container").addClass('d-none')

      $(".locationContainer").removeClass('d-none')
      $(".locationContainer").addClass('d-block')

      loadLocationTableData()
    })

    $("#submitLocation").click(function () {
      saveLocation()
    })

    function loadLocationTableData() {
      $("#locationTable").DataTable({
        // searching: true,
        destroy: true,
        responsive: false,
        processing: true,
        serverSide: true,
        scrollX: true,
        scrollY: "40vh",
        ordering: false,
        ajax: {
          type: "GET",
          url: "/api/v1/master/location/get/all",
          error: function (xhr, error, code) {
            $("#locationTable").DataTable().destroy();
            $("#locationTable").DataTable({ scrollX: true, ordering: false })

            toastr.error(xhr.responseJSON.message, 'Error')
          },
          "dataSrc": function (json) {
            json.iTotalRecords = json.data?.rows?.length
            json.iTotalDisplayRecords = json.data?.count

            // Return the data to be displayed in the DataTable
            return json?.data?.rows;
          }
        },
        columns: [
          { data: null },
          { data: null },
          { data: "location_name" },
          { data: "description" },
          { data: "created_at" },
        ],
        columnDefs: [
          {
            targets: [0],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-pen-to-square edit editLocation" location_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to edit this location"></i>'
            },
          },
          {
            targets: [1],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-trash del delLocation" location_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to delete this location"></i>'
            },
          },
          {
            targets: [4],
            className: "text-left",
            render: function (data, type, row) {
              const date = new Date(row["created_at"]);

              var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var ampm = hours >= 12 ? 'PM' : 'AM';
              hours = hours % 12;
              hours = hours ? hours : 12; // Handle midnight (0 hours)
              minutes = minutes < 10 ? '0' + minutes : minutes;
              var strTime = hours + ':' + minutes + ' ' + ampm;
              var month = months[date.getMonth()];
              var day = date.getDate().toString().padStart(2, '0'); // Ensure day is always two digits
              return day + '-' + month + '-' + date.getFullYear() + ' ' + strTime;
            },
          },
        ],
        // "infoCallback": function (settings, start, end, max, total, pre) {
        //   return start + " to " + end;
        // }
      });
    }

    $(document).on('click', '.editLocation', (e) => {
      // Changing panel input fields data
      $("#location_name").val($(e.target).closest('tr').children("td").eq(2).text())
      $("#description").val($(e.target).closest('tr').children("td").eq(3).text())

      // Opening Slied Panel
      $("#openLocationPanelBtn").click()

      // Changing panel heading
      $("#locationPanelHeading").text("Edit Location Data")

      // Changing panel button label
      $("#submitLocation").text("Update")

      // Changing panel button attribute
      $("#submitLocation").attr("location_master_id", $(e.target).attr('location_master_id'))
    })

    $(document).on('click', '.delLocation', (e) => {
      let location_master_id = $(e.target).attr('location_master_id')
      let currentRow = $(e.target).closest('tr')
      $.confirm({
        title: 'Delete Location?',
        content: 'Are you sure, do you want to remove this location?',
        backgroundDismiss: false,
        backgroundDismissAnimation: 'glow',
        type: 'red',
        closeIcon: true,
        closeIconClass: 'fa fa-close',
        typeAnimated: true,
        boxWidth: '30%',
        useBootstrap: false,
        autoClose: 'no|5000',
        buttons: {
          delete: {
            text: 'Delete',
            btnClass: 'btn-red',
            action: function () {
              $.ajax({
                url: '/api/v1/master/location/delete',
                method: 'post',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                  location_master_id,
                })
              }).done(function (response) {
                //loading data to table
                loadLocationTableData()

                toastr.success('Location deleted successfully', 'Deleted')
              }).fail(function () {
                toastr.error('Location failed to delete!', 'Error')
              });
            }
          },
          no: function () {
            toastr.info('Location is safe now', 'Info')
          }
        }
      });
    })

    function saveLocation() {
      const location_master_id = $("#submitLocation").attr('location_master_id')

      let url = "/api/v1/master/location/create"
      let input_params = {
        location_name: $("#location_name").val(),
        description: $("#description").val(),
      }

      if (location_master_id) {
        url = "/api/v1/master/location/update"

        input_params = {
          location_master_id,
          location_master_data: {
            ...input_params
          }
        }
      }

      $.ajax({
        url,
        method: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(input_params),
        crossDomain: true,
        processData: false,
        success: (data) => {
          toastr["success"](data?.message);

          $("#closeLocationPanelBtn").click()

          loadLocationTableData()

          resetAllInputs()
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }

    $("#resetLocationDataBtn").on("click", resetAllInputs)

    // ---------------------------------------------------------
    // -------------------------- Units ------------------------
    // ---------------------------------------------------------

    // Open panel
    $('#openUnitPanelBtn').click(function () {
      openSlidePanel("unitSlideInPanel", "unitPanelHeading", "Unit", "submitUnit", "unit_master_id")

      // loadUnitLocations()

      // loadUnitType()
    });

    // Close panel
    $('#closeUnitPanelBtn').click(function () {
      closeSlidePanel("unitSlideInPanel")
    });

    $(".unitMenu").click(function () {
      $(".menu-container").addClass('d-none')

      $(".unitContainer").removeClass('d-none')
      $(".unitContainer").addClass('d-block')

      loadUnitTableData()
    })

    $("#submitUnit").click(function () {
      saveUnit()
    })

    function loadUnitTableData() {
      $("#unitTable").DataTable({
        // searching: true,
        destroy: true,
        responsive: false,
        processing: true,
        serverSide: true,
        scrollX: true,
        scrollY: '40vh',
        ordering: false,
        ajax: {
          type: "GET",
          url: "/api/v1/master/unit/get/all",
          error: function (xhr, error, code) {
            $("#unitTable").DataTable().destroy();
            $("#unitTable").DataTable({
              scrollX: true,
              ordering: false,
            })

            toastr.error(xhr.responseJSON.message, 'Error')
          },
          "dataSrc": function (json) {
            json.iTotalRecords = json.data?.rows?.length
            json.iTotalDisplayRecords = json.data?.count

            // Return the data to be displayed in the DataTable
            return json?.data?.rows;
          }
        },
        columns: [
          { data: null },
          { data: null },
          { data: "unit_code" },
          { data: "unit_name" },
          { data: "unit_type" },
          { data: "LocationMaster.location_name" },
          { data: "created_at" },
        ],
        columnDefs: [
          {
            targets: [0],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-pen-to-square edit editUnit" unit_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to edit this unit"></i>'
            },
          },
          {
            targets: [1],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-trash del delUnit" unit_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to delete this unit"></i>'
            },
          },
          {
            targets: [6],
            className: "text-left",
            render: function (data, type, row) {
              const date = new Date(row["created_at"]);

              var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var ampm = hours >= 12 ? 'PM' : 'AM';
              hours = hours % 12;
              hours = hours ? hours : 12; // Handle midnight (0 hours)
              minutes = minutes < 10 ? '0' + minutes : minutes;
              var strTime = hours + ':' + minutes + ' ' + ampm;
              var month = months[date.getMonth()];
              var day = date.getDate().toString().padStart(2, '0'); // Ensure day is always two digits
              return day + '-' + month + '-' + date.getFullYear() + ' ' + strTime;
            },
          },
        ],
        // "infoCallback": function (settings, start, end, max, total, pre) {
        //   return start + " to " + end;
        // }
      });
    }

    $(document).on('click', '.editUnit', (e) => {
      // Changing panel input fields data
      $("#unit_name").val($(e.target).closest('tr').children("td").eq(3).text())

      // Opening Slied Panel
      $("#openUnitPanelBtn").click()

      // Loading dropdowns value after panel has been loaded
      $("#unitType").val($(`#unitType option:contains(${$(e.target).closest('tr').children("td").eq(4).text()})`).val()).trigger('change')
      $("#unitLocations").val($(`#unitLocations option:contains(${$(e.target).closest('tr').children("td").eq(5).text()})`).val()).trigger('change')

      // Changing panel heading
      $("#unitPanelHeading").text("Edit Unit Data")

      // Changing panel button label
      $("#submitUnit").text("Update")

      // Changing panel button attribute
      $("#submitUnit").attr("unit_master_id", $(e.target).attr('unit_master_id'))
    })

    $(document).on('click', '.delUnit', (e) => {
      let unit_master_id = $(e.target).attr('unit_master_id')
      let currentRow = $(e.target).closest('tr')
      $.confirm({
        title: 'Delete Unit?',
        content: 'Are you sure, do you want to remove this unit?',
        backgroundDismiss: false,
        backgroundDismissAnimation: 'glow',
        type: 'red',
        closeIcon: true,
        closeIconClass: 'fa fa-close',
        typeAnimated: true,
        boxWidth: '30%',
        useBootstrap: false,
        autoClose: 'no|5000',
        buttons: {
          delete: {
            text: 'Delete',
            btnClass: 'btn-red',
            action: function () {
              $.ajax({
                url: '/api/v1/master/unit/delete',
                method: 'post',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                  unit_master_id,
                })
              }).done(function (response) {
                //loading data to table
                loadUnitTableData()

                toastr.success('Unit deleted successfully', 'Deleted')
              }).fail(function () {
                toastr.error('Unit failed to delete!', 'Error')
              });
            }
          },
          no: function () {
            toastr.info('Unit is safe now', 'Info')
          }
        }
      });
    })

    function loadUnitType() {
      $("#unitType")
        .select2({
          placeholder: "Choose a location",
          allowClear: true,
          data: [
            {
              id: "Peeling Center",
              text: "Peeling Center"
            },
            {
              id: "Collection Center",
              text: "Collection Center"
            },
            {
              id: "Cooking Center",
              text: "Cooking Center"
            },
            {
              id: "Distribution Center",
              text: "Distribution Center"
            }
          ]
        })

      // Clearing selected value
      $('#unitType').val(null).trigger('change');
    }

    function loadUnitLocations() {
      // Load Roles
      $.ajax({
        url: "/api/v1/master/location/get/all",
        method: "GET",
        dataType: "json",
        contentType: "application/json",
        crossDomain: true,
        processData: false,
        success: (data) => {
          // Loading data
          $("#unitLocations")
            .select2({
              placeholder: "Choose a location",
              allowClear: true,
              data: $.map(data?.data?.rows, function (item) {
                return {
                  id: item.id,
                  text: item.location_name
                };
              }),
            })

          // Clearing selected value
          $('#unitLocations').val(null).trigger('change');
          // // Clearing selected value
          // $('#unitType').val(null).trigger('change');
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }

    function saveUnit() {
      const unit_master_id = $("#submitUnit").attr('unit_master_id')

      let url = "/api/v1/master/unit/create"
      let input_params = {
        unit_name: $("#unit_name").val(),
        unit_type: $("#unitType").val(),
        location_master_id: $("#unitLocations").val(),
      }

      if (unit_master_id) {
        url = "/api/v1/master/unit/update"

        input_params = {
          unit_master_id,
          unit_master_data: {
            ...input_params
          }
        }
      }

      $.ajax({
        url,
        method: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(input_params),
        crossDomain: true,
        processData: false,
        success: (data) => {
          toastr["success"](data?.message);

          $("#closeUnitPanelBtn").click()

          loadUnitTableData()

          resetAllInputs()
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }


    $("#resetUnitDataBtn").on("click", resetAllInputs)

    // ---------------------------------------------------------
    // ------------------------- Vendors -----------------------
    // ---------------------------------------------------------

    // Open panel
    $('#openVendorPanelBtn').click(function () {
      openSlidePanel("vendorSlideInPanel", "vendorPanelHeading", "Vendor", "submitVendor", "vendor_master_id")

      // loadVendorLocations()
    });

    // Close panel
    $('#closeVendorPanelBtn').click(function () {
      closeSlidePanel("vendorSlideInPanel")
    });

    $(".vendorMenu").click(function () {
      $(".menu-container").addClass('d-none')

      $(".vendorContainer").removeClass('d-none')
      $(".vendorContainer").addClass('d-block')

      loadVendorsTableData()
    })

    $("#submitVendor").click(function () {
      saveVendor()
    })

    function loadVendorsTableData() {
      $("#vendorTable").DataTable({
        // searching: true,
        destroy: true,
        responsive: false,
        processing: true,
        serverSide: true,
        scrollX: true,
        scrollY: "41vh",
        ordering: false,
        ajax: {
          type: "GET",
          url: "/api/v1/master/vendor/get/all",
          error: function (xhr, error, code) {
            $("#vendorTable").DataTable().destroy();
            $("#vendorTable").DataTable({ scrollX: true, ordering: false })

            toastr.error(xhr.responseJSON.message, 'Error')
          },
          "dataSrc": function (json) {
            json.iTotalRecords = json.data?.rows?.length
            json.iTotalDisplayRecords = json.data?.count

            // Return the data to be displayed in the DataTable
            return json?.data?.rows;
          }
        },
        columns: [
          { data: null },
          { data: null },
          { data: "vendor_name" },
          { data: "LocationMaster.location_name" },
          { data: "representative" },
          { data: "phone" },
          { data: "email" },
          { data: "address" },
          { data: "created_at" },
        ],
        columnDefs: [
          {
            targets: [0],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-pen-to-square edit editVendor" vendor_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to edit this row"></i>'
            },
          },
          {
            targets: [1],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-trash del delVendor" vendor_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to delete this row"></i>'
            },
          },
          {
            targets: [8],
            className: "text-left",
            render: function (data, type, row) {
              const date = new Date(row["created_at"]);

              var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var ampm = hours >= 12 ? 'PM' : 'AM';
              hours = hours % 12;
              hours = hours ? hours : 12; // Handle midnight (0 hours)
              minutes = minutes < 10 ? '0' + minutes : minutes;
              var strTime = hours + ':' + minutes + ' ' + ampm;
              var month = months[date.getMonth()];
              var day = date.getDate().toString().padStart(2, '0'); // Ensure day is always two digits
              return day + '-' + month + '-' + date.getFullYear() + ' ' + strTime;
            },
          },
        ],
        // "infoCallback": function (settings, start, end, max, total, pre) {
        //   return start + " to " + end;
        // }
      });
    }

    $(document).on('click', '.editVendor', (e) => {
      // Changing panel input fields data
      $("#vendor_name").val($(e.target).closest('tr').children("td").eq(2).text())
      $("#vendorLocations").val($(`#vendorLocations option:contains(${$(e.target).closest('tr').children("td").eq(3).text()})`).val()).trigger('change')
      $("#representative").val($(e.target).closest('tr').children("td").eq(4).text())
      $("#phone").val($(e.target).closest('tr').children("td").eq(5).text())
      $("#email").val($(e.target).closest('tr').children("td").eq(6).text())
      $("#address").val($(e.target).closest('tr').children("td").eq(7).text())

      // Opening slide panel
      $("#openVendorPanelBtn").click()

      // Changing panel heading
      $("#vendorPanelHeading").text("Edit Vendor Data")

      // Changing panel button label
      $("#submitVendor").text("Update")

      // Changing panel button attribute
      $("#submitVendor").attr("vendor_master_id", $(e.target).attr('vendor_master_id'))
    })

    $(document).on('click', '.delVendor', (e) => {
      let vendor_master_id = $(e.target).attr('vendor_master_id')
      let currentRow = $(e.target).closest('tr')
      $.confirm({
        title: 'Delete Vendor?',
        content: 'Are you sure, do you want to remove this vendor?',
        backgroundDismiss: false,
        backgroundDismissAnimation: 'glow',
        type: 'red',
        closeIcon: true,
        closeIconClass: 'fa fa-close',
        typeAnimated: true,
        boxWidth: '30%',
        useBootstrap: false,
        autoClose: 'no|5000',
        buttons: {
          delete: {
            text: 'Delete',
            btnClass: 'btn-red',
            action: function () {
              $.ajax({
                url: '/api/v1/master/vendor/delete',
                method: 'post',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                  vendor_master_id,
                })
              }).done(function (response) {
                //loading data to table
                loadVendorsTableData()

                toastr.success('Vendor deleted successfully', 'Deleted')
              }).fail(function () {
                toastr.error('Vendor failed to delete!', 'Error')
              });
            }
          },
          no: function () {
            toastr.info('Vendor is safe now', 'Info')
          }
        }
      });
    })

    function loadVendorLocations() {
      // Load Roles
      $.ajax({
        url: "/api/v1/master/location/get/all",
        method: "GET",
        dataType: "json",
        contentType: "application/json",
        crossDomain: true,
        processData: false,
        success: (data) => {
          // Loading data
          $("#vendorLocations")
            .select2({
              placeholder: "Choose a location",
              allowClear: true,
              data: $.map(data?.data?.rows, function (item) {
                return {
                  id: item.id,
                  text: item.location_name
                };
              }),
            })

          // Clearing selected value
          $('#vendorLocations').val(null).trigger('change');
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }

    function saveVendor() {
      const vendor_master_id = $("#submitVendor").attr('vendor_master_id')

      let url = "/api/v1/master/vendor/create"
      let input_params = {
        vendor_name: $("#vendor_name").val(),
        representative: $("#representative").val(),
        address: $("#address").val(),
        phone: $("#phone").val(),
        email: $("#email").val(),
        location_master_id: $("#vendorLocations").val(),
      }

      if (vendor_master_id) {
        url = "/api/v1/master/vendor/update"

        input_params = {
          vendor_master_id,
          vendor_master_data: {
            ...input_params
          }
        }
      }

      // Load Roles
      $.ajax({
        url,
        method: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(input_params),
        crossDomain: true,
        processData: false,
        success: (data) => {
          toastr["success"](data?.message);

          $("#closeVendorPanelBtn").click()

          loadVendorsTableData()

          resetAllInputs()
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }

    $("#resetVendorDataBtn").on("click", resetAllInputs)

    // ---------------------------------------------------------
    // ----------------------- Packaging -----------------------
    // ---------------------------------------------------------

    // Open panel
    $('#openPackagingPanelBtn').click(function () {
      openSlidePanel("packagingSlideInPanel", "packagingPanelHeading", "Packaging", "submitPackaging", "packaging_master_id")
    });

    // Close panel
    $('#closePackagingPanelBtn').click(function () {
      closeSlidePanel("packagingSlideInPanel")
    });

    $(".packagingMenu").click(function () {
      $(".menu-container").addClass('d-none')

      $(".packagingContainer").removeClass('d-none')
      $(".packagingContainer").addClass('d-block')

      loadPackagingTableData()
    })

    $("#submitPackaging").click(function () {
      savePackaging()
    })

    function loadPackagingTableData() {
      $("#packagingTable").DataTable({
        // searching: true,
        destroy: true,
        responsive: false,
        processing: true,
        serverSide: true,
        scrollX: true,
        scrollY: '40vh',
        ordering: false,
        ajax: {
          type: "GET",
          url: "/api/v1/master/packaging/get/all",
          error: function (xhr, error, code) {
            $("#packagingTable").DataTable().destroy();
            $("#packagingTable").DataTable({
              scrollX: true,
              ordering: false,
            })

            toastr.error(xhr.responseJSON.message, 'Error')
          },
          "dataSrc": function (json) {
            json.iTotalRecords = json.data?.rows?.length
            json.iTotalDisplayRecords = json.data?.count

            // Return the data to be displayed in the DataTable
            return json?.data?.rows;
          }
        },
        columns: [
          { data: null },
          { data: null },
          { data: "packaging_code" },
          { data: "packaging_type" },
          { data: "packaging_length" },
          { data: "packaging_width" },
          { data: "packaging_height" },
          { data: "packaging_material_composition" },
          { data: "packaging_supplier" },
          { data: "created_at" },
        ],
        columnDefs: [
          {
            targets: [0],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-pen-to-square edit editPackaging" packaging_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to edit this Packaging"></i>'
            },
          },
          {
            targets: [1],
            className: "text-left",
            render: function (data, type, row) {
              return '<i class="fa fa-trash del delPackaging" packaging_master_id=' + row["id"] + ' aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to delete this Packaging"></i>'
            },
          },
          {
            targets: [9],
            className: "text-left",
            render: function (data, type, row) {
              const date = new Date(row["created_at"]);

              var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var ampm = hours >= 12 ? 'PM' : 'AM';
              hours = hours % 12;
              hours = hours ? hours : 12; // Handle midnight (0 hours)
              minutes = minutes < 10 ? '0' + minutes : minutes;
              var strTime = hours + ':' + minutes + ' ' + ampm;
              var month = months[date.getMonth()];
              var day = date.getDate().toString().padStart(2, '0'); // Ensure day is always two digits
              return day + '-' + month + '-' + date.getFullYear() + ' ' + strTime;
            },
          },
        ],
        // "infoCallback": function (settings, start, end, max, total, pre) {
        //   return start + " to " + end;
        // }
      });
    }

    $(document).on('click', '.editPackaging', (e) => {
      // Changing panel input fields data
      $("#packagingType").val($(`#packagingType option:contains(${$(e.target).closest('tr').children("td").eq(3).text()})`).val()).trigger('change')
      $("#packagingLength").val($(e.target).closest('tr').children("td").eq(4).text())
      $("#packagingWidth").val($(e.target).closest('tr').children("td").eq(5).text())
      $("#packagingHeight").val($(e.target).closest('tr').children("td").eq(6).text())
      $("#packagingMaterialComposition").val($(`#packagingMaterialComposition option:contains(${$(e.target).closest('tr').children("td").eq(7).text()})`).val()).trigger('change')
      $("#packagingSupplier").val($(e.target).closest('tr').children("td").eq(8).text())

      // Opening slide panel
      $("#openPackagingPanelBtn").click()

      // Changing panel heading
      $("#packagingPanelHeading").text("Edit Packaging Data")

      // Changing panel button label
      $("#submitPackaging").text("Update")

      // Changing panel button attribute
      $("#submitPackaging").attr("packaging_master_id", $(e.target).attr('packaging_master_id'))
    })

    $(document).on('click', '.delPackaging', (e) => {
      let packaging_master_id = $(e.target).attr('packaging_master_id')
      let currentRow = $(e.target).closest('tr')
      $.confirm({
        title: 'Delete Packaging Detail?',
        content: 'Are you sure, do you want to remove this Packaging?',
        backgroundDismiss: false,
        backgroundDismissAnimation: 'glow',
        type: 'red',
        closeIcon: true,
        closeIconClass: 'fa fa-close',
        typeAnimated: true,
        boxWidth: '30%',
        useBootstrap: false,
        autoClose: 'no|5000',
        buttons: {
          delete: {
            text: 'Delete',
            btnClass: 'btn-red',
            action: function () {
              $.ajax({
                url: '/api/v1/master/packaging/delete',
                method: 'post',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                  packaging_master_id,
                })
              }).done(function (response) {
                //loading data to table
                loadPackagingTableData()

                toastr.success('Packaging detail deleted successfully', 'Deleted')
              }).fail(function () {
                toastr.error('Packaging detail failed to delete!', 'Error')
              });
            }
          },
          no: function () {
            toastr.info('Packaging detail is safe now', 'Info')
          }
        }
      });
    })

    function loadPackagingType() {
      $("#packagingType")
        .select2({
          placeholder: "Choose a Packaging Type",
          allowClear: true,
          data: [
            {
              id: "Pouch",
              text: "Pouch"
            },
            {
              id: "Master Carton",
              text: "Master Carton"
            },
            {
              id: "Duplex Carton",
              text: "Duplex Carton"
            },
          ]
        })

      // Clearing selected value
      $('#packagingType').val(null).trigger('change');
    }

    function loadPackagingMaterialComposition() {
      $("#packagingMaterialComposition")
        .select2({
          placeholder: "Choose a Packaging Material",
          allowClear: true,
          data: [
            {
              id: "Plastic",
              text: "Plastic"
            },
            {
              id: "Cardboard",
              text: "Cardboard"
            },
            {
              id: "Thermocol",
              text: "Thermocol"
            },
          ]
        })

      // Clearing selected value
      $('#packagingMaterialComposition').val(null).trigger('change');
    }

    function savePackaging() {
      const packaging_master_id = $("#submitPackaging").attr('packaging_master_id')

      let url = "/api/v1/master/packaging/create"
      let input_params = {
        packaging_type: $("#packagingType").val(),
        packaging_length: $("#packagingLength").val(),
        packaging_width: $("#packagingWidth").val(),
        packaging_height: $("#packagingHeight").val(),
        packaging_material_composition: $("#packagingMaterialComposition").val(),
        packaging_supplier: $("#packagingSupplier").val(),
      }

      if (packaging_master_id) {
        url = "/api/v1/master/packaging/update"

        input_params = {
          packaging_master_id,
          packaging_master_data: {
            ...input_params
          }
        }
      }

      $.ajax({
        url,
        method: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(input_params),
        crossDomain: true,
        processData: false,
        success: (data) => {
          toastr["success"](data?.message);

          $("#closePackagingPanelBtn").click()

          loadPackagingTableData()

          resetAllInputs()
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }


    $("#resetPackagingDataBtn").on("click", resetAllInputs)


    // ---------------------------------------------------------
    // ------------------------- Vehicle -----------------------
    // ---------------------------------------------------------

    // Open panel
    $('#openVehiclePanelBtn').click(function () {
      openSlidePanel("vehicleSlideInPanel", "vehiclePanelHeading", "Vehicle", "submitVehicle", "vehicle_master_id")
    });

    // Close panel
    $('#closeVehiclePanelBtn').click(function () {
      closeSlidePanel("vehicleSlideInPanel")
    });

    $(".vehicleMenu").click(function () {
      $(".menu-container").addClass('d-none')

      $(".vehicleContainer").removeClass('d-none')
      $(".vehicleContainer").addClass('d-block')

      loadVehicleTableData()
    })

    $("#submitVehicle").click(function () {
      saveVehicle()
    })

    function loadVehicleTableData() {
      $("#vehicleTable").DataTable({
        // searching: true,
        destroy: true,
        responsive: false,
        processing: true,
        serverSide: true,
        scrollX: true,
        scrollY: "41vh",
        ordering: false,
        ajax: {
          type: "GET",
          url: "/api/v1/master/vehicle/get/all",
          error: function (xhr, error, code) {
            $("#vehicleTable").DataTable().destroy();
            $("#vehicleTable").DataTable({ scrollX: true, ordering: false });

            toastr.error(xhr.responseJSON.message, "Error");
          },
          dataSrc: function (json) {
            json.iTotalRecords = json.data?.rows?.length;
            json.iTotalDisplayRecords = json.data?.count;

            // Return the data to be displayed in the DataTable
            return json?.data?.rows;
          },
        },
        columns: [
          { data: null },
          { data: null },
          { data: "vehicle_number" },
          { data: "vehicle_brand" },
          { data: "model_number" },
          { data: "insurance_provider" },
          { data: "insurance_number" },
          { data: "insurance_expiring_on" },
          { data: "last_fc_date" },
          { data: "created_at" },
        ],
        columnDefs: [
          {
            targets: [0],
            className: "text-left",
            render: function (data, type, row) {
              return (
                '<i class="fa fa-pen-to-square edit editVehicle" vehicle_master_id=' +
                row["id"] +
                ' aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to edit this vehicle"></i>'
              );
            },
          },
          {
            targets: [1],
            className: "text-left",
            render: function (data, type, row) {
              return (
                '<i class="fa fa-trash del delVehicle" vehicle_master_id=' +
                row["id"] +
                ' aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to delete this vehicle"></i>'
              );
            },
          },
          {
            targets: [7],
            className: "text-left",
            render: function (data, type, row) {
              const date = new Date(row["insurance_expiring_on"]);

              var months = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec",
              ];

              var month = months[date.getMonth()];
              var day = date.getDate().toString().padStart(2, "0"); // Ensure day is always two digits
              return (
                day + "-" + month + "-" + date.getFullYear()
              );
            },
          },
          {
            targets: [8],
            className: "text-left",
            render: function (data, type, row) {
              const date = new Date(row["last_fc_date"]);

              var months = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec",
              ];

              var month = months[date.getMonth()];
              var day = date.getDate().toString().padStart(2, "0"); // Ensure day is always two digits
              return (
                day + "-" + month + "-" + date.getFullYear()
              );
            },
          },
          {
            targets: [9],
            className: "text-left",
            render: function (data, type, row) {
              const date = new Date(row["created_at"]);

              var months = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec",
              ];
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var ampm = hours >= 12 ? "PM" : "AM";
              hours = hours % 12;
              hours = hours ? hours : 12; // Handle midnight (0 hours)
              minutes = minutes < 10 ? "0" + minutes : minutes;
              var strTime = hours + ":" + minutes + " " + ampm;
              var month = months[date.getMonth()];
              var day = date.getDate().toString().padStart(2, "0"); // Ensure day is always two digits
              return (
                day + "-" + month + "-" + date.getFullYear() + " " + strTime
              );
            },
          },
        ],
        // "infoCallback": function (settings, start, end, max, total, pre) {
        //   return start + " to " + end;
        // }
      });
    }

    $(document).on('click', '.editVehicle', (e) => {
      // Changing panel input fields data
      $("#vehicle_number").val($(e.target).closest('tr').children("td").eq(2).text())
      $("#vehicle_brand").val($(e.target).closest('tr').children("td").eq(3).text())
      $("#model_number").val($(e.target).closest('tr').children("td").eq(4).text())
      $("#insurance_provider").val($(e.target).closest('tr').children("td").eq(5).text())
      $("#insurance_number").val($(e.target).closest('tr').children("td").eq(6).text())
      $("#insurance_expiring_on").val(formatDate(new Date($(e.target).closest('tr').children("td").eq(7).text())))
      $("#last_fc_date").val(formatDate(new Date($(e.target).closest('tr').children("td").eq(8).text())))

      // Opening slide panel
      $("#openVehiclePanelBtn").click()

      // Changing panel heading
      $("#vehiclePanelHeading").text("Edit Vehicle Data")

      // Changing panel button label
      $("#submitVehicle").text("Update")

      // Changing panel button attribute
      $("#submitVehicle").attr("vehicle_master_id", $(e.target).attr('vehicle_master_id'))
    })

    $(document).on('click', '.delVehicle', (e) => {
      let vehicle_master_id = $(e.target).attr('vehicle_master_id')
      let currentRow = $(e.target).closest('tr')
      $.confirm({
        title: 'Delete Vehicle?',
        content: 'Are you sure, do you want to remove this vehicle?',
        backgroundDismiss: false,
        backgroundDismissAnimation: 'glow',
        type: 'red',
        closeIcon: true,
        closeIconClass: 'fa fa-close',
        typeAnimated: true,
        boxWidth: '30%',
        useBootstrap: false,
        autoClose: 'no|5000',
        buttons: {
          delete: {
            text: 'Delete',
            btnClass: 'btn-red',
            action: function () {
              $.ajax({
                url: '/api/v1/master/vehicle/delete',
                method: 'post',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                  vehicle_master_id,
                })
              }).done(function (response) {
                //loading data to table
                loadVehicleTableData()

                toastr.success('Vehicle deleted successfully', 'Deleted')
              }).fail(function () {
                toastr.error('Vehicle failed to delete!', 'Error')
              });
            }
          },
          no: function () {
            toastr.info('Vehicle is safe now', 'Info')
          }
        }
      });
    })

    function saveVehicle() {
      const vehicle_master_id = $("#submitVehicle").attr('vehicle_master_id')

      let url = "/api/v1/master/vehicle/create"
      let input_params = {
        vehicle_number: $("#vehicle_number").val(),
        vehicle_brand: $("#vehicle_brand").val(),
        model_number: $("#model_number").val(),
        insurance_provider: $("#insurance_provider").val(),
        insurance_number: $("#insurance_number").val(),
        insurance_expiring_on: $("#insurance_expiring_on").val(),
        last_fc_date: $("#last_fc_date").val(),
      }

      if (vehicle_master_id) {
        url = "/api/v1/master/vehicle/update"

        input_params = {
          vehicle_master_id,
          vehicle_master_data: {
            ...input_params
          }
        }
      }

      $.ajax({
        url,
        method: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(input_params),
        crossDomain: true,
        processData: false,
        success: (data) => {
          toastr["success"](data?.message);

          $("#closeVehiclePanelBtn").click()

          loadVehicleTableData()

          resetAllInputs()
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }

    $("#resetVehicleDataBtn").on("click", resetAllInputs)


    // ---------------------------------------------------------
    // -------------------------- Driver -----------------------
    // ---------------------------------------------------------

    // Open panel
    $('#openDriverPanelBtn').click(function () {
      openSlidePanel("driverSlideInPanel", "driverPanelHeading", "Driver", "submitDriver", "driver_master_id")
    });

    // Close panel
    $('#closeDriverPanelBtn').click(function () {
      closeSlidePanel("driverSlideInPanel")
    });

    $(".driverMenu").click(function () {
      $(".menu-container").addClass('d-none')

      $(".driverContainer").removeClass('d-none')
      $(".driverContainer").addClass('d-block')

      loadDriverTableData()
    })

    $("#submitDriver").click(function () {
      saveDriver()
    })

    function loadDriverTableData() {
      $("#driverTable").DataTable({
        // searching: true,
        destroy: true,
        responsive: false,
        processing: true,
        serverSide: true,
        scrollX: true,
        scrollY: "41vh",
        ordering: false,
        ajax: {
          type: "GET",
          url: "/api/v1/master/driver/get/all",
          error: function (xhr, error, code) {
            $("#driverTable").DataTable().destroy();
            $("#driverTable").DataTable({ scrollX: true, ordering: false });

            toastr.error(xhr.responseJSON.message, "Error");
          },
          dataSrc: function (json) {
            json.iTotalRecords = json.data?.rows?.length;
            json.iTotalDisplayRecords = json.data?.count;

            // Return the data to be displayed in the DataTable
            return json?.data?.rows;
          },
        },
        columns: [
          { data: null },
          { data: null },
          { data: "driver_name" },
          { data: "license_number" },
          { data: "phone" },
          { data: "emergency_contact" },
          { data: "aadhar_number" },
          { data: "blood_group" },
          { data: "health_history" },
          { data: "address" },
          { data: "created_at" },
        ],
        columnDefs: [
          {
            targets: [0],
            className: "text-left",
            render: function (data, type, row) {
              return (
                '<i class="fa fa-pen-to-square edit editDriver" driver_master_id=' +
                row["id"] +
                ' aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to edit this driver"></i>'
              );
            },
          },
          {
            targets: [1],
            className: "text-left",
            render: function (data, type, row) {
              return (
                '<i class="fa fa-trash del delDriver" driver_master_id=' +
                row["id"] +
                ' aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to delete this driver"></i>'
              );
            },
          },
          {
            targets: [10],
            className: "text-left",
            render: function (data, type, row) {
              const date = new Date(row["created_at"]);

              var months = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec",
              ];
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var ampm = hours >= 12 ? "PM" : "AM";
              hours = hours % 12;
              hours = hours ? hours : 12; // Handle midnight (0 hours)
              minutes = minutes < 10 ? "0" + minutes : minutes;
              var strTime = hours + ":" + minutes + " " + ampm;
              var month = months[date.getMonth()];
              var day = date.getDate().toString().padStart(2, "0"); // Ensure day is always two digits
              return (
                day + "-" + month + "-" + date.getFullYear() + " " + strTime
              );
            },
          },
        ],
        // "infoCallback": function (settings, start, end, max, total, pre) {
        //   return start + " to " + end;
        // }
      });
    }

    $(document).on('click', '.editDriver', (e) => {
      // Changing panel input fields data
      $("#driver_name").val($(e.target).closest('tr').children("td").eq(2).text())
      $("#license_number").val($(e.target).closest('tr').children("td").eq(3).text())
      $("#driver_phone").val($(e.target).closest('tr').children("td").eq(4).text())
      $("#emergency_contact").val($(e.target).closest('tr').children("td").eq(5).text())
      $("#aadhar_number").val($(e.target).closest('tr').children("td").eq(6).text())
      $("#blood_group").val($(e.target).closest('tr').children("td").eq(7).text())
      $("#health_history").val($(e.target).closest('tr').children("td").eq(8).text())
      $("#driver_address").val($(e.target).closest('tr').children("td").eq(9).text())

      // Opening slide panel
      $("#openDriverPanelBtn").click()

      // Changing panel heading
      $("#driverPanelHeading").text("Edit Driver Data")

      // Changing panel button label
      $("#submitDriver").text("Update")

      // Changing panel button attribute
      $("#submitDriver").attr("driver_master_id", $(e.target).attr('driver_master_id'))
    })

    $(document).on('click', '.delDriver', (e) => {
      let driver_master_id = $(e.target).attr('driver_master_id')
      let currentRow = $(e.target).closest('tr')
      $.confirm({
        title: 'Delete Driver?',
        content: 'Are you sure, do you want to remove this driver?',
        backgroundDismiss: false,
        backgroundDismissAnimation: 'glow',
        type: 'red',
        closeIcon: true,
        closeIconClass: 'fa fa-close',
        typeAnimated: true,
        boxWidth: '30%',
        useBootstrap: false,
        autoClose: 'no|5000',
        buttons: {
          delete: {
            text: 'Delete',
            btnClass: 'btn-red',
            action: function () {
              $.ajax({
                url: '/api/v1/master/driver/delete',
                method: 'post',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                  driver_master_id,
                })
              }).done(function (response) {
                //loading data to table
                loadDriverTableData()

                toastr.success('Driver deleted successfully', 'Deleted')
              }).fail(function () {
                toastr.error('Driver failed to delete!', 'Error')
              });
            }
          },
          no: function () {
            toastr.info('Driver is safe now', 'Info')
          }
        }
      });
    })

    function saveDriver() {
      const driver_master_id = $("#submitDriver").attr('driver_master_id')

      let url = "/api/v1/master/driver/create"
      let input_params = {
        driver_name: $("#driver_name").val(),
        license_number: $("#license_number").val(),
        aadhar_number: $("#aadhar_number").val(),
        address: $("#driver_address").val(),
        phone: $("#driver_phone").val(),
        emergency_contact: $("#emergency_contact").val(),
        blood_group: $("#blood_group").val(),
        health_history: $("#health_history").val(),
      }

      if (driver_master_id) {
        url = "/api/v1/master/driver/update"

        input_params = {
          driver_master_id,
          driver_master_data: {
            ...input_params
          }
        }
      }

      $.ajax({
        url,
        method: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(input_params),
        crossDomain: true,
        processData: false,
        success: (data) => {
          toastr["success"](data?.message);

          $("#closeDriverPanelBtn").click()

          loadDriverTableData()

          resetAllInputs()
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]["message"]);
          }
        },
      });
    }

    $("#resetDriverDataBtn").on("click", resetAllInputs)
  });
</script>

</html>