<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <!-- title logo -->
  <link rel="icon" href="/public/images/bse.png" type="image/icon type" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />

  <!-- Bootstrap 
<link href="/public/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="/public/plugins/bootstrap/js/bootstrap.min.js"></script> -->

  <!-- MDB5  -->
  <link href="/public/plugins/MDB5-7.2.0/css/mdb.min.css" rel="stylesheet" />
  <script src="/public/plugins/MDB5-7.2.0/js/mdb.es.min.js"></script>

  <!-- jQuery -->
  <script src="/public/plugins/jquery/jquery.min.js"></script>

  <!-- Select2 -->
  <link rel="stylesheet" href="/public/plugins/select2/css/select2.min.css" />
  <script src="/public/plugins/select2/js/select2.min.js"></script>

  <!-- DataTable -->
  <link rel="stylesheet" href="/public/plugins/dataTables/datatables.min.css" />
  <script src="/public/plugins/dataTables/datatables.min.js"></script>
  <script src="/public/plugins/dataTables/dataTables.bootstrap5.min.js"></script>
  <!-- Responsive Datatable -->
  <link
    rel="stylesheet"
    href="/public/plugins/dataTables/datatables.responsive.min.css"
  />
  <script src="/public/plugins/dataTables/datatables.responsive.min.js"></script>

  <!-- Toast -->
  <link rel="stylesheet" href="/public/plugins/Toastr/toastr.min.css" />
  <script src="/public/plugins/Toastr/toastr.min.js"></script>

  <!-- perfect-scrollbar plugin -->
  <script src="/public/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/public/plugins/font-awesome/css/all.min.css" />

  <!-- jQuery Confirm -->
  <link
    rel="stylesheet"
    href="/public/plugins/jquery-confirm/css/jquery-confirm.min.css"
  />
  <script src="/public/plugins/jquery-confirm/js/jquery-confirm.min.js"></script>

  <!-- Slide-in Panel -->
  <link
    rel="stylesheet"
    href="/public/plugins/slide-in-panel/css/slidePanel.min.css"
  />
  <script src="/public/plugins/slide-in-panel/js/slidePanel.min.js"></script>

  <!-- Tippy -->
  <link rel="stylesheet" href="/public/plugins/tippy/scale.css" />
  <script src="/public/plugins/tippy/popper.min.js"></script>
  <script src="/public/plugins/tippy/tippy-bundle.umd.min.js"></script>

  <!-- Circle ProgressBar -->
  <!-- <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
    crossorigin="anonymous"
  ></script> -->

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/public/css/style.css" />

  <!-- Custom Script -->
  <script src="/public/custom/App.js"></script>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BSE</title>

    <style type="text/css">
      @font-face {
        font-family: "CassandraPersonalUse";
        src: url("/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf?v=2")
          format("truetype");
      }

      @font-face {
        font-family: "CerebriSansPro-Regular";
        src: url("/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf?v=2")
          format("truetype");
      }

      @font-face {
        font-family: "RedditMono-Regular";
        src: url("/public/fonts/RedditMono/RedditMono-Regular.ttf?v=2")
          format("truetype");
      }

      body {
        font-family: "CerebriSansPro-Regular";
        background-color: #f7f9fd;
      }

      .toast {
        opacity: 1 !important;
      }

      /* Table Pagination */
      .page-item.active .page-link {
        color: #fff !important;
        background-color: #ea5455 !important;
        border-color: #ea5455 !important;
      }

      .page-link {
        color: #000 !important;
        background-color: #fff !important;
        border: 1px solid #dee2e6 !important;
      }

      .page-link:hover {
        color: #fff !important;
        background-color: #f17979 !important;
        border-color: #ea5455 !important;
      }

      svg.radial-progress {
        height: auto;
        max-width: 100px;
        padding: 1em;
        transform: rotate(-90deg);
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
      }

      svg.radial-progress circle {
        fill: rgba(0, 0, 0, 0);
        stroke: #1f2d3e;
        stroke-dashoffset: 219.91148575129;
        stroke-width: 10;
      }

      svg.radial-progress circle.incomplete {
        opacity: 0.25;
      }

      svg.radial-progress circle.complete {
        stroke-dasharray: 219.91148575129;
      }

      svg.radial-progress text {
        fill: #f60101;
        text-anchor: middle;
      }

      .menu-button {
        cursor: pointer;
      }

      .active-menu-button {
        /* box-shadow: 0 -2px 0 0 #ea5455; */
        color: #ea5455;
      }

      .menu-button:hover:not(.active-menu-button) {
        /* box-shadow: 0 -2px 0 0 #ea5455; */
        color: #ea5455;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="menu-button col-lg-1 d-flex justify-content-center">
          <div class="d-flex flex-column text-center">
            <svg
              class="radial-progress"
              id="dispatchCircle"
              data-percentage="0"
              viewBox="0 0 80 80"
            >
              <circle class="incomplete" cx="40" cy="40" r="35"></circle>
              <circle
                class="complete"
                cx="40"
                cy="40"
                r="35"
                style="stroke-dashoffset: 39.58406743523136"
              ></circle>
              <text
                id="dispatchPercentage"
                class="percentage"
                x="50%"
                y="57%"
                transform="matrix(0, 1, -1, 0, 80, 0)"
              >
                82%
              </text>
            </svg>
            <span class="fs-6 fw-bold">Dispatch</span>
            <span
              style="font-family: sans-serif"
              class="fs-6"
              style="font-weight: RedditMono-Regular"
              >0</span
            >
          </div>
        </div>

        <div class="col-lg-1" style="padding-left: 0px; padding-right: 0px">
          <hr
            id="preprocessingHR"
            style="border: 3px solid #28394f; opacity: 0.2; margin-top: 64px"
          />
        </div>

        <div class="menu-button col-lg-1 d-flex justify-content-center">
          <div class="d-flex flex-column text-center">
            <svg
              class="radial-progress"
              id="preprocessingCircle"
              data-percentage="0"
              viewBox="0 0 80 80"
            >
              <circle class="incomplete" cx="40" cy="40" r="35"></circle>
              <circle
                class="complete"
                cx="40"
                cy="40"
                r="35"
                style="stroke-dashoffset: 39.58406743523136"
              ></circle>
              <text
                id="preprocessingPercentage"
                class="percentage"
                x="50%"
                y="57%"
                transform="matrix(0, 1, -1, 0, 80, 0)"
              >
                82%
              </text>
            </svg>
            <span class="fs-6 fw-bold">Preprocessing</span>
            <span
              style="font-family: sans-serif"
              class="fs-6"
              style="font-weight: RedditMono-Regular"
              >0</span
            >
          </div>
        </div>

        <div class="col-lg-1" style="padding-left: 0px; padding-right: 0px">
          <hr
            id="preprocessingDispatchHR"
            style="border: 3px solid #28394f; opacity: 0.2; margin-top: 64px"
          />
        </div>

        <div class="menu-button col-lg-1 d-flex justify-content-center">
          <div class="d-flex flex-column text-center">
            <svg
              class="radial-progress"
              id="preprocessingDispatchCircle"
              data-percentage="0"
              viewBox="0 0 80 80"
            >
              <circle class="incomplete" cx="40" cy="40" r="35"></circle>
              <circle
                class="complete"
                cx="40"
                cy="40"
                r="35"
                style="stroke-dashoffset: 39.58406743523136"
              ></circle>
              <text
                id="preprocessingDispatchPercentage"
                class="percentage"
                x="50%"
                y="57%"
                transform="matrix(0, 1, -1, 0, 80, 0)"
              >
                82%
              </text>
            </svg>
            <span class="fs-6 fw-bold">Dispatch</span>
            <span
              style="font-family: sans-serif"
              class="fs-6"
              style="font-weight: RedditMono-Regular"
              >0</span
            >
          </div>
        </div>

        <div class="col-lg-1" style="padding-left: 0px; padding-right: 0px">
          <hr
            id="packingHR"
            style="border: 3px solid #28394f; opacity: 0.2; margin-top: 64px"
          />
        </div>

        <div class="menu-button col-lg-1 d-flex justify-content-center">
          <div class="d-flex flex-column text-center">
            <svg
              class="radial-progress"
              id="packingCircle"
              data-percentage="0"
              viewBox="0 0 80 80"
            >
              <circle class="incomplete" cx="40" cy="40" r="35"></circle>
              <circle
                class="complete"
                cx="40"
                cy="40"
                r="35"
                style="stroke-dashoffset: 39.58406743523136"
              ></circle>
              <text
                id="packingPercentage"
                class="percentage"
                x="50%"
                y="57%"
                transform="matrix(0, 1, -1, 0, 80, 0)"
              >
                82%
              </text>
            </svg>
            <span class="fs-6 fw-bold">Packing</span>
            <span
              style="font-family: sans-serif"
              class="fs-6"
              style="font-weight: RedditMono-Regular"
              >0</span
            >
          </div>
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      // Declarations
      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: true,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: false,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "5000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
      };

      changePercentage("dispatchCircle", "dispatchPercentage", null, 0);
      changePercentage(
        "preprocessingCircle",
        "preprocessingPercentage",
        "preprocessingHR",
        0
      );
      changePercentage(
        "preprocessingDispatchCircle",
        "preprocessingDispatchPercentage",
        "preprocessingDispatchHR",
        0
      );
      changePercentage("packingCircle", "packingPercentage", "packingHR", 0);

      function changePercentage(circle_id, percentage_id, hr_id, percent) {
        $(`#${circle_id}`).attr("data-percentage", percent);
        $(`#${percentage_id}`).text(`${percent}%`);
        // Get radius of the svg's circle.complete
        radius = $(`#${circle_id}`).find($("circle.complete")).attr("r");
        // Get circumference (2πr)
        circumference = 2 * Math.PI * radius;
        // Get stroke-dashoffset value based on the percentage of the circumference
        strokeDashOffset = circumference - (percent * circumference) / 100;
        // Transition progress for 1.25 seconds
        $(`#${circle_id}`)
          .find($("circle.complete"))
          .animate({ "stroke-dashoffset": strokeDashOffset }, 1250);

        if (percent > 0) {
          $(`#${hr_id}`).css({ opacity: "0.8" });
        } else {
          $(`#${hr_id}`).css({ opacity: "0.2" });
        }
      }
    });
  </script>
</html>
