<!-- @format -->

<!doctype html>
<html lang="en">
  <!-- title logo -->
  <link rel="icon" href="/public/images/bse.png" type="image/icon type" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />

  <!-- Bootstrap  -->
  <link
    href="/public/plugins/bootstrap/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <script src="/public/plugins/bootstrap/js/bootstrap.min.js"></script>

  <!-- MDB5  -->
  <link href="/public/plugins/MDB5-7.2.0/css/mdb.min.css" rel="stylesheet" />
  <script src="/public/plugins/MDB5-7.2.0/js/mdb.es.min.js"></script>

  <!-- jQuery -->
  <script src="/public/plugins/jquery/jquery.min.js"></script>

  <!-- Select2 -->
  <link rel="stylesheet" href="/public/plugins/select2/css/select2.min.css" />
  <script src="/public/plugins/select2/js/select2.min.js"></script>

  <!-- DataTable -->
  <link rel="stylesheet" href="/public/plugins/dataTables/datatables.min.css" />
  <script src="/public/plugins/dataTables/datatables.min.js"></script>
  <script src="/public/plugins/dataTables/dataTables.bootstrap5.min.js"></script>
  <!-- Responsive Datatable -->
  <link
    rel="stylesheet"
    href="/public/plugins/dataTables/datatables.responsive.min.css"
  />
  <script src="/public/plugins/dataTables/datatables.responsive.min.js"></script>

  <!-- Toast -->
  <link rel="stylesheet" href="/public/plugins/Toastr/toastr.min.css" />
  <script src="/public/plugins/Toastr/toastr.min.js"></script>

  <!-- perfect-scrollbar plugin -->
  <script src="/public/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/public/plugins/font-awesome/css/all.min.css" />

  <!-- jQuery Confirm -->
  <link
    rel="stylesheet"
    href="/public/plugins/jquery-confirm/css/jquery-confirm.min.css"
  />
  <script src="/public/plugins/jquery-confirm/js/jquery-confirm.min.js"></script>

  <!-- Slide-in Panel -->
  <link
    rel="stylesheet"
    href="/public/plugins/slide-in-panel/css/slidePanel.min.css"
  />
  <script src="/public/plugins/slide-in-panel/js/slidePanel.min.js"></script>

  <!-- Tippy -->
  <link rel="stylesheet" href="/public/plugins/tippy/scale.css" />
  <script src="/public/plugins/tippy/popper.min.js"></script>
  <script src="/public/plugins/tippy/tippy-bundle.umd.min.js"></script>

  <!-- jQuery Smart Tab -->
  <link
    href="/public/plugins/smartTab/smart_tab.all.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <script
    type="text/javascript"
    src="/public/plugins/smartTab/smart_tab.min.js"
  ></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/public/css/style.css" />

  <!-- Custom Script -->
  <script src="/public/custom/App.js"></script>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BSE</title>

    <style type="text/css">
      @font-face {
        font-family: "CassandraPersonalUse";
        src: url("/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf?v=2")
          format("truetype");
      }

      @font-face {
        font-family: "CerebriSansPro-Regular";
        src: url("/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf?v=2")
          format("truetype");
      }

      @font-face {
        font-family: "RedditMono-Regular";
        src: url("/public/fonts/RedditMono/RedditMono-Regular.ttf?v=2")
          format("truetype");
      }

      body {
        font-family: "CerebriSansPro-Regular";
        background-color: #f7f9fd;
      }

      .toast {
        opacity: 1 !important;
      }

      .btn {
        text-transform: none;
      }

      a,
      .edit,
      .view,
      .close,
      .del {
        cursor: pointer;
      }

      .panelClose {
        cursor: pointer;
      }

      .select2-dropdown {
        z-index: 10000 !important;
      }

      /* Table Pagination */
      .page-item.active .page-link {
        color: #fff !important;
        background-color: #ea5455 !important;
        border-color: #ea5455 !important;
      }

      .page-link {
        color: #000 !important;
        background-color: #fff !important;
        border: 1px solid #dee2e6 !important;
      }

      .page-link:hover {
        color: #fff !important;
        background-color: #f17979 !important;
        border-color: #ea5455 !important;
      }

      svg.radial-progress {
        height: auto;
        max-width: 100px;
        margin: 10px;
        transform: rotate(-90deg);
        width: 100%;
        /* padding-left: 0px; */
        /* padding-right: 0px; */
      }

      svg.radial-progress circle {
        fill: rgba(0, 0, 0, 0);
        stroke: #1f2d3e;
        stroke-dashoffset: 219.91148575129;
        stroke-width: 10;
      }

      svg.radial-progress circle.incomplete {
        opacity: 0.25;
      }

      svg.radial-progress circle.complete {
        stroke-dasharray: 219.91148575129;
      }

      svg.radial-progress text {
        fill: #1f2d3e;
        text-anchor: middle;
      }

      .topMenu-item {
        cursor: pointer;
      }

      .topMenu-item-active {
        /* box-shadow: 0 -2px 0 0 #ea5455; */
        color: #ea5455;
      }

      .topMenu-item:hover:not(.topMenu-item-active) {
        /* box-shadow: 0 -2px 0 0 #ea5455; */
        color: #ea5455;
      }

      #salesProductTable_wrapper {
        margin-top: 60px !important;
      }

      .slideInPanel {
        z-index: 9999;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -600px;
        width: 400px;
        background-color: #1f2d3e;
        color: #e3e3e3;
        height: 90vh;
        /* box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); */
        transition: right 0.3s ease;
        border-radius: 8px;
      }

      /* Input */
      .slideInPanel input {
        background-color: transparent;
        border-color: rgba(98, 114, 147, 0.6);
      }

      .slideInPanel input:focus {
        background-color: transparent;
      }

      .slideInPanel input:hover {
        border-color: #627293;
      }

      /* Select */
      .slideInPanel .select2-container {
        background-color: transparent !important;
        border-color: rgba(98, 114, 147, 0.6) !important;
        color: 627293 !important;
      }

      .select2-container {
        width: 100% !important;
      }

      .select2-selection__rendered,
      .select2-selection__clear,
      .select2-selection__arrow {
        color: white !important;
        margin-top: 0.25rem !important;
      }

      .select2-selection {
        background-color: transparent !important;
        border-color: rgba(98, 114, 147, 0.6) !important;
        height: 35px !important;
      }

      .slideInPanel .select:focus {
        background-color: transparent;
        border-color: #627293;
      }

      .slideInPanel .select2-container:hover {
        border-color: #627293;
      }

      /* TextArea */
      .slideInPanel textarea {
        background-color: transparent;
        border-color: rgba(98, 114, 147, 0.6);
      }

      .slideInPanel textarea:focus {
        background-color: transparent;
      }

      .slideInPanel textarea:hover {
        border-color: #627293;
      }

      /* Form Control */
      .slideInPanel .form-control {
        color: #f7f9fc;
      }

      .slideInPanel .form-control::placeholder {
        color: #627293;
      }

      .select2-selection::placeholder {
        color: #627293;
      }

      table.dataTable th {
        text-align: left !important;
      }

      fieldset {
        border-color: rgba(129, 145, 179, 0.6) !important;
        border-radius: 4px;
      }

      legend {
        margin-top: -1.7rem !important;
        background-color: #e0e0e0;
        color: #1f2d3e;
        border-radius: 4px;
        font-size: inherit !important;
      }

      #appendOutput:hover {
        background-color: rgb(135, 49, 177);
        background-color: linear-gradient(
          90deg,
          rgba(135, 49, 177, 1) 1%,
          rgba(191, 24, 188, 1) 35%,
          rgba(209, 52, 174, 1) 68%,
          rgba(217, 29, 115, 1) 100%
        );
        color: white;
      }

      /* 
      #appendOutput {
        color: rgba(98, 114, 147, 0.6) !important;
      } */

      .st-theme-brick > .nav .nav-link.active {
        background-color: #dc4c64 !important;
      }

      .st-theme-brick > .nav .nav-link {
        color: #dc4c64 !important;
      }

      .st-theme-brick > .nav {
        border-color: #dc4c64 !important;
      }

      .vl {
        border-left: 2px dashed rgba(98, 114, 147, 0.6);
        height: 25px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        /* bottom: -10; */
      }

      .vl-top {
        border-left: 2px dashed rgba(98, 114, 147, 0.6);
        height: 35px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        /* bottom: -10; */
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <!-- ------------------------------------------------------------------------------------------------------------- -->
        <!-- ------------------------------------- Sales Container ---------------------------------------------------- -->
        <!-- ------------------------------------------------------------------------------------------------------------- -->
        <div class="menu-container salesContainer d-none">
          <!-- Slide-in Panel -->
          <div id="salesSlideInPanel" class="slideInPanel px-4 overflow-auto">
            <div class="row d-flex justify-content-center">
              <div class="col-sm-12 col-md-12 col-md-12">
                <div class="text-center mt-4 d-flex justify-content-between">
                  <span id="salesPanelHeading" class="fw-bold fs-5"
                    >Add Sales Data</span
                  >
                  <div class="col my-auto d-flex justify-content-end">
                    <i
                      class="fa-solid fa-circle-xmark my-auto panelClose"
                      id="closeSalesPanelBtn"
                    ></i>
                  </div>
                </div>

                <hr />

                <div id="smarttab" class="border-0">
                  <ul class="nav">
                    <li>
                      <a class="nav-link">Input</a>
                    </li>
                    <li>
                      <a class="nav-link">Output</a>
                    </li>
                  </ul>

                  <div class="tab-content">
                    <div id="tab-1" class="tab-pane p-0" role="tabpanel">
                      <div class="form-group mt-4">
                        <label for="order_date">Order Date</label>
                        <input
                          id="order_date"
                          class="form-control"
                          type="date"
                          name="order_date"
                          required
                        />
                      </div>

                      <div class="form-group mt-2">
                        <label for="customer_name">Customer Name</label>
                        <select
                          class="form-control input-dropdown w-100"
                          id="customerNames"
                          name="customer_name"
                        ></select>
                        <span style="font-size: 12px"
                          >Customer Country :
                          <span class="fw-bold" id="customer_country"></span
                        ></span>
                      </div>

                      <div class="form-group mt-2">
                        <label for="payment_terms">Payment Terms</label>
                        <input
                          id="payment_terms"
                          class="form-control"
                          type="text"
                          name="payment_terms"
                          required
                        />
                      </div>

                      <div class="form-group mt-2">
                        <label for="payment_type">Payment Type</label>
                        <select
                          class="form-control input-dropdown w-100"
                          id="paymentTypes"
                          name="payment_type"
                        ></select>
                      </div>

                      <div id="salesShippingContainer">
                        <fieldset
                          class="form-group border p-3 shippingData"
                          style="
                            border-color: rgba(129, 145, 179, 0.6) !important;
                            margin-top: 2.2rem !important;
                          "
                        >
                          <legend class="mb-2 w-auto px-2">Shipping</legend>

                          <div class="form-group mt-2">
                            <label for="product_name">Shipping Date</label>
                            <input
                              id="shipping_date"
                              class="form-control"
                              type="date"
                              name="shipping_date"
                              required
                            />
                          </div>

                          <div class="form-group mt-2">
                            <label for="shippingSources">Shipping Source</label>
                            <select
                              class="form-control input-dropdown w-100"
                              id="shippingSources"
                              name="shippingSources"
                            ></select>
                          </div>

                          <div class="form-group mt-2">
                            <label for="product_name"
                              >Shipping Destination</label
                            >
                            <select
                              class="form-control input-dropdown w-100"
                              id="shippingDestinations"
                              name="shippingDestinations"
                            ></select>
                          </div>

                          <div class="form-group mt-2">
                            <label for="shippingMethods">Shipping Method</label>
                            <select
                              class="form-control input-dropdown w-100"
                              id="shippingMethods"
                              name="shippingMethods"
                            ></select>
                          </div>

                          <div class="form-group mt-2">
                            <label for="shipping_address"
                              >Shipping Address</label
                            >
                            <textarea
                              row="3"
                              id="shipping_address"
                              class="form-control input-dropdown w-100"
                              name="shipping_address"
                              readonly
                            ></textarea>
                          </div>

                          <div class="form-group mt-2">
                            <label for="delivery_date"
                              >Expected Delivery Date</label
                            >
                            <input
                              id="delivery_date"
                              class="form-control"
                              type="date"
                              name="delivery_date"
                              required
                            />
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div id="tab-2" class="tab-pane p-0" role="tabpanel">
                      <div id="salesProductContainer">
                        <fieldset
                          class="form-group border p-3 salesProduct salesProduct_1"
                          style="
                            border-color: rgba(129, 145, 179, 0.6) !important;
                            margin-top: 2.2rem !important;
                          "
                        >
                          <legend class="mb-2 w-auto px-2">Product 1</legend>
                          <div class="form-group">
                            <label for="product_name">Product Name:</label>
                            <select
                              class="form-control input-dropdown w-100 salesProductNames salesProductNames_1"
                              name="salesProductNames"
                            ></select>
                          </div>

                          <div class="form-group mt-4">
                            <label for="product_unit">Unit</label>
                            <input
                              class="form-control product_unit product_unit_1"
                              type="number"
                              placeholder="eg. 10"
                              name="product_unit"
                              required
                            />
                          </div>

                          <div class="form-group mt-4 mb-4">
                            <label for="product_price_1">Price</label>
                            <input
                              class="form-control product_price product_price_1"
                              type="number"
                              placeholder="eg. 10"
                              name="product_price_1"
                              required
                            />
                          </div>
                        </fieldset>
                      </div>

                      <div class="vl"></div>
                      <div
                        id="appendOutput"
                        style="border-color: rgba(98, 114, 147, 0.6) !important"
                        class="btn border rounded d-flex justify-content-center mt-4"
                      >
                        <i class="fa-solid fa-circle-plus fs-5 my-1"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-between mt-4 py-3 pb-4">
                  <div id="submitSales" class="col-lg-auto btn btn-danger">
                    Save
                  </div>
                  <div id="nextSales" class="col-lg-auto btn btn-outline-info">
                    Next
                  </div>
                  <div
                    id="resetSalesDataBtn"
                    class="col-lg-auto btn btn-outline-warning"
                  >
                    Clear
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Table Content -->
          <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
            <div class="border p-4 w-100">
              <!-- Add Button -->
              <div class="d-flex rounded-2 justify-content-end pb-4">
                <div
                  id="openSalesPanelBtn"
                  class="btn btn-outline-danger d-flex justify-content-around"
                  style="width: 150px"
                >
                  <i class="fa-solid fa-circle-plus my-auto"></i>
                  <span style="margin-top: 4px" class="fw-bold my-auto"
                    >Sales</span
                  >
                </div>
              </div>

              <table
                id="salesTable"
                class="rounded table table-hover nowrap w-100"
              >
                <thead>
                  <tr>
                    <th style="border-radius: 4px 0 0 0"></th>
                    <th class="fw-bold"><span>Procurement Date</span></th>
                    <th class="fw-bold"><span>Procurement Lot</span></th>
                    <th class="fw-bold">
                      <span>Total Dispatched Weight</span>
                    </th>
                    <th class="fw-bold">
                      <span>Total Peeled Items</span>
                    </th>
                    <th class="fw-bold">
                      <span>Total Peeled Weight</span>
                    </th>
                    <th class="fw-bold">
                      <span>Total Yield</span>
                    </th>
                    <th class="fw-bold">
                      <span>Total Wastage</span>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>

        <!-- modal-dialog-centered modal-dialog-scrollable -->
        <!-- Modal -->
        <div
          id="salesModal"
          class="modal hide fade modal-xl"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-scrollable">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Sales Products</h4>
                <i class="close fa-solid fa-circle-xmark" data-dismiss="modal">
                </i>
              </div>
              <div class="modal-body">
                <div class="d-flex justify-content-between">
                  <div class="form-group">
                    <label class="fw-bold" for="lot_no">Lot No:</label>
                    <span id="view_sales_lot_no"></span>
                  </div>

                  <div class="form-group">
                    <label class="fw-bold" for="total_products"
                      >Total Saleses:</label
                    >
                    <span id="view_total_saleses"></span>
                  </div>

                  <div class="form-group">
                    <label class="fw-bold" for="total_weight"
                      >Total Weight:</label
                    >
                    <span id="view_total_sales_weight"></span>
                  </div>
                </div>

                <hr class="mb-4" />

                <table
                  id="salesProductTable"
                  class="rounded table table-hover nowrap w-100"
                >
                  <thead>
                    <tr>
                      <th style="border-radius: 4px 0 0 0"></th>
                      <th class="fw-bold"><span>Order No</span></th>
                      <th class="fw-bold"><span>Order Date</span></th>
                      <th class="fw-bold"><span>Customer Name</span></th>
                      <th class="fw-bold"><span>Products Count</span></th>
                      <th class="fw-bold"><span>Total Units</span></th>
                      <th class="fw-bold"><span>Total Price</span></th>
                      <th class="fw-bold"><span>Carrier Code</span></th>
                      <th class="fw-bold"><span>Shipping Code</span></th>
                      <th class="fw-bold"><span>Payment Terms</span></th>
                      <th class="fw-bold"><span>Payment Type</span></th>
                      <th class="fw-bold"><span>Status</span></th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Sales Container Ends -->
      </div>
    </div>
  </body>

  <script type="text/javascript">
    jQuery(document).ready(async function ($) {
      // Declarations
      let is_updated_data = false;
      let productNamesArray = [];

      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: true,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: false,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "5000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
      };

      $(function () {
        // SmartTab initialize
        $("#smarttab").smartTab({
          selected: 0,
          theme: "brick",
          autoAdjustHeight: false,
          animation: "fade",
          // justified: false,
          keyboardSettings: {
            keyNavigation: true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
            keyLeft: [37], // Left key code
            keyRight: [39], // Right key code
          },
        });
      });

      // Global Functions
      // Function to format date as YYYY-MM-DD
      function formatDate(date) {
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        // Ensure 2-digit formatting
        if (day < 10) {
          day = "0" + day;
        }
        if (month < 10) {
          month = "0" + month;
        }

        return year + "-" + month + "-" + day;
      }

      function resetAllInputs() {
        $("input").val("");

        // Reset all date inputs
        var dateInputs = document.querySelectorAll('input[type="date"]');
        // looping all the date inputs
        dateInputs.forEach(function (input) {
          input.value = formatDate(new Date());
        });

        // Resetting textarea
        $("textarea").val("");

        // Resetting select field selected option
        $("#customerNames").val(null).trigger("change");
        $("#paymentTypes").val(null).trigger("change");
        $("#shippingSources").val(null).trigger("change");
        $("#shippingDestinations").val(null).trigger("change");
        $("#shippingMethods").val(null).trigger("change");
        $("#salesProductNames").val(null).trigger("change");

        $("#customerNames").select2({
          placeholder: "Choose a customer",
          allowClear: true,
        });

        $("#paymentTypes").select2({
          placeholder: "Choose a type",
          allowClear: true,
        });

        $("#shippingSources").select2({
          placeholder: "Choose a source",
          allowClear: true,
        });

        $("#shippingDestinations").select2({
          placeholder: "Choose a destination",
          allowClear: true,
        });

        $("#shippingMethods").select2({
          placeholder: "Choose a method",
          allowClear: true,
        });

        $("#salesProductNames").select2({
          placeholder: "Choose a method",
          allowClear: true,
        });

        $(`.salesProduct:not(".salesProduct_1")`).remove();
        $(`.vl-top:not(".vl-top-1")`).remove();

        is_updated_data = false;
      }

      function openSlidePanel(
        panelId,
        panelHeadingId,
        panelType,
        panelSubmitButton,
        panelBtnAttrName
      ) {
        // Opening Slide Panel
        $(`#${panelId}`).css("right", "0");

        // Changing panel Heading label
        $(`#${panelHeadingId}`).text(`Add ${panelType} Data`);

        // Changing panel save button label
        $(`#${panelSubmitButton}`).text("Save");

        // Changing panel save button attribute
        $(`#${panelSubmitButton}`).attr(panelBtnAttrName, null);
      }

      function closeSlidePanel(panelId) {
        // Opening Slide Panel
        $(`#${panelId}`).css("right", "-600px");

        // Resetting all the input fields' data
        resetAllInputs();

        // Destroying select2 all the dropdowns
        // $('select.select2-hidden-accessible').select2('destroy');
      }

      // Open Location on load (default)
      $(".menu-container").addClass("d-none");

      $(".salesContainer").removeClass("d-none");
      $(".salesContainer").addClass("d-block");

      resetAllInputs();
      loadSalesDropdowns();
      loadSalesTableData();

      // ---------------------------------------------------------
      // -------------------------- Sales ------------------------
      // ---------------------------------------------------------

      // // Open panel
      $("#openSalesPanelBtn").click(function () {
        // $("#salesModal").modal("show");
        openSlidePanel(
          "salesSlideInPanel",
          "salesPanelHeading",
          "Sales",
          "submitSales",
          "sales_id"
        );

        $("#balance_dispatched_quantity").text("").css({ color: "white" });

        $("#smarttab").smartTab("first");
      });

      // Close panel
      $("#closeSalesPanelBtn").click(function () {
        closeSlidePanel("salesSlideInPanel");

        view_sales_center_id = "";
        view_raw_material_id = "";
      });

      $(document).on("click", ".modal-header .close", () => {
        $("#salesModal").modal("hide");
      });

      $(document).on(
        "click",
        ".modal-header .close, .modal-footer .close",
        () => {
          $("#salesModal").modal("hide");
        }
      );

      $(document).on("click", "#appendOutput", (e) => {
        const last_fieldset_index = $("#salesProductContainer fieldset").length;
        const next_fieldset_index = (last_fieldset_index || 0) + 1;

        if (
          !$(`.salesProductNames_${last_fieldset_index}`).val() ||
          !$(`.product_unit_${last_fieldset_index}`).val()
        ) {
          toastr["warning"](
            "Please fill all the required values in the above output to create a new output"
          );
          return;
        }

        addOutput(next_fieldset_index);
      });

      $(document).on("click", "#nextSales", (e) => {
        $("#smarttab").smartTab("next");
      });

      $(document).on(
        "showTab",
        "#smarttab",
        (e, anchorObject, tabIndex, tabDirection, tabPosition) => {
          if (tabIndex == 0) {
            $("#nextSales").show();
            $("#submitSales").removeClass("col-lg-5");
            $("#resetSalesDataBtn").removeClass("col-lg-5");
          } else {
            $("#nextSales").hide();
            $("#submitSales").addClass("col-lg-5");
            $("#resetSalesDataBtn").addClass("col-lg-5");
          }
        }
      );

      function loadSalesDropdowns() {
        // Sales Dropdown
        loadCustomerNames();
        loadPaymentType();
        loadShippingLocations();
        loadProductNames();
        loadShippingMethods();
      }

      function addOutput(
        index,
        peeled_product_id,
        product_master_id,
        yield_quantity,
        sales_notes
      ) {
        $("#salesProductContainer")
          .append(`<div class="vl-top vl-top-${index}"></div><fieldset
                              class="form-group border p-3 mt-3 salesProduct salesProduct_${index}"
                              style="
                                border-color: rgba(129, 145, 179, 0.6) !important;
                                margin-top: 2.2rem !important;
                              "
                            >
                              <legend class="mb-2 w-auto px-2">Output ${index}</legend>
                              <div class="form-group">
                                <label for="product_name">Product Name:</label>
                                <select
                                  class="form-control input-dropdown w-100 salesProductNames salesProductNames_${index}"
                                  peeled_product_id=${peeled_product_id}
                                  name="salesProductNames"
                                ></select>
                              </div>

                              <div class="form-group mt-4">
                                <label for="yield_quantity">Yield Quantity</label>
                                <input
                                  class="form-control yield_quantity yield_quantity_${index}"
                                  type="number"
                                  placeholder="eg. 10"
                                  name="yield_quantity"
                                  required
                                />
                              </div>

                              <div class="form-group mt-4 mb-4">
                                <label for="sales_notes">Sales Notes</label>
                                <textarea
                                  row="3"
                                  class="form-control input-dropdown w-100 sales_notes sales_notes_${index}"
                                  name="sales_notes"
                                ></textarea>
                              </div>

                            </fieldset>`);

        $(`.salesProductNames_${index}`).select2({
          placeholder: "Choose a product",
          allowClear: true,
          data: productNamesArray,
        });

        $(`.salesProductNames_${index}`)
          .val(product_master_id || null)
          .trigger("change");

        $(`.yield_quantity_${index}`).val(yield_quantity || "");

        $(`.sales_notes_${index}`).val(sales_notes || "");
      }

      $("#submitSales").click(function () {
        saveSales();
      });

      function loadSalesTableData() {
        $("#salesTable").DataTable({
          // searching: true,
          destroy: true,
          responsive: false,
          processing: true,
          serverSide: true,
          scrollX: true,
          scrollCollapse: true,
          scrollY: "40vh",
          ordering: false,
          ajax: {
            type: "GET",
            url: "/api/v1/procurement/lot/stats/sales",
            error: function (xhr, error, code) {
              $("#salesTable").DataTable().destroy();
              $("#salesTable").DataTable({ scrollX: true, ordering: false });

              if (xhr["status"] == 420) {
                toastr["warning"](xhr["responseJSON"]["message"]);
              } else {
                toastr["error"](xhr["responseJSON"]["message"]);
              }
            },
            dataSrc: function (json) {
              json.iTotalRecords = json.data?.rows?.length;
              json.iTotalDisplayRecords = json.data?.count;

              // Return the data to be displayed in the DataTable
              return json?.data?.rows;
            },
          },
          columns: [
            { data: null },
            { data: "procurement_date" },
            { data: "procurement_lot" },
            { data: "total_dispatched_quantity" },
            { data: "total_peeled_count" },
            { data: "total_peeled_quantity" },
            { data: "total_yield_quantity" },
            { data: null },
          ],
          columnDefs: [
            {
              targets: [0],
              className: "text-left",
              render: function (data, type, row) {
                return `<i class="fa-solid fa-eye view viewSales" procurement_lot_id=${row?.id} aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to edit this product"></i>`;
              },
            },
            {
              targets: [1],
              className: "text-left",
              render: function (data, type, row) {
                const date = new Date(row?.procurement_date);

                var months = [
                  "Jan",
                  "Feb",
                  "Mar",
                  "Apr",
                  "May",
                  "Jun",
                  "Jul",
                  "Aug",
                  "Sep",
                  "Oct",
                  "Nov",
                  "Dec",
                ];

                var month = months[date.getMonth()];
                var day = date.getDate().toString().padStart(2, "0"); // Ensure day is always two digits
                return day + "-" + month + "-" + date.getFullYear();
              },
            },
            {
              targets: [2],
              className: "text-left",
              render: function (data, type, row) {
                return `<span procurement_lot_id=${row?.id}>${data}</span>`;
              },
            },
            {
              targets: [3],
              className: "text-left",
              render: function (data, type, row) {
                return data || 0;
              },
            },
            {
              targets: [4],
              className: "text-left",
              render: function (data, type, row) {
                return data || 0;
              },
            },
            {
              targets: [5],
              className: "text-left",
              render: function (data, type, row) {
                return data || 0;
              },
            },
            {
              targets: [6],
              className: "text-left",
              render: function (data, type, row) {
                return data || 0;
              },
            },
            {
              targets: [7],
              className: "text-left",
              render: function (data, type, row) {
                const sales_quantity = parseFloat(row["total_peeled_quantity"]);
                const yield_quantity = parseFloat(row["total_yield_quantity"]);
                const wastage_quantity = sales_quantity - yield_quantity;
                return isNaN(wastage_quantity) ? 0 : wastage_quantity;
              },
            },
          ],
          drawCallback: () => {},
        });
      }

      $(document).on("click", ".viewSales", (e) => {
        // Changing panel input fields data
        $("#closeSalesPanelBtn").click();

        // Changing panel input fields data
        const view_procurement_lot_id = $(e.target).attr("procurement_lot_id");

        const view_total_sales = $(e.target)
          .closest("tr")
          .children("td")
          .eq(4)
          .text();

        const view_total_sales_weight = $(e.target)
          .closest("tr")
          .children("td")
          .eq(5)
          .text();

        $("#view_sales_lot_no").text(
          $(e.target).closest("tr").children("td").eq(2).text()
        );

        // Top Header
        $("#view_sales_lot_no").attr(
          "procurement_lot_id",
          view_procurement_lot_id
        );

        $("#view_total_saleses").text(view_total_sales);

        $("#view_total_sales_weight").text(view_total_sales_weight);

        // Opening Slied Panel
        $("#salesModal").modal("show");

        loadSalesProductTableData(view_procurement_lot_id);
      });

      let salesProductTable;
      function loadSalesProductTableData(procurement_lot_id) {
        if (!procurement_lot_id) {
          toastr["warning"]("Procurement lot data should not be empty!");
        }

        salesProductTable = $("#salesProductTable").DataTable({
          // searching: true,
          destroy: true,
          responsive: false,
          processing: true,
          serverSide: true,
          scrollX: true,
          scrollCollapse: true,
          scrollY: "40vh",
          ordering: false,
          ajax: {
            type: "GET",
            url: `/api/v1/sales?procurement_lot_id=${procurement_lot_id}`,
            error: function (xhr, error, code) {
              $("#salesProductTable").DataTable().destroy();
              $("#salesProductTable").DataTable({
                scrollX: true,
                ordering: false,
              });

              if (xhr["status"] == 420) {
                toastr["warning"](xhr["responseJSON"]["message"]);
              } else {
                toastr["error"](xhr["responseJSON"]["message"]);
              }
            },
            dataSrc: function (json) {
              json.iTotalRecords = json.data?.rows?.length;
              json.iTotalDisplayRecords = json.data?.count;

              // Return the data to be displayed in the DataTable
              return json?.data?.rows;
            },
          },
          columns: [
            { data: null },
            { data: null },
            { data: "SalesProducts" },
            { data: null },
            { data: "dis.dispatch_quantity" },
            { data: "sales_quantity" },
            { data: "total_yield_quantity" },
            { data: null },
            { data: "sales_method" },
            { data: "UnitMaster.unit_code" },
            { data: "created_at" },
          ],
          columnDefs: [
            {
              targets: [0],
              className: "text-left",
              render: function (data, type, row) {
                return `<i class="fa fa-pen-to-square edit editSales" sales_id=${
                  row?.id || null
                } aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to edit this product"></i>`;
              },
            },
            {
              targets: [1],
              className: "text-left",
              render: function (data, type, row) {
                return `<span dispatch_id='${row["dis"]?.id}'>${row?.["dis"]?.["pp"]?.["ProductMaster"]?.product_name}-${row?.["dis"]?.["pp"]?.procurement_product_type}-${row?.["dis"]?.["pp"]?.["VendorMaster"]?.vendor_name}-${row?.["dis"]?.dispatch_quantity}</i>`;
              },
            },
            {
              targets: [2],
              className: "text-left",
              render: function (data, type, row) {
                return `<span style="cursor:pointer;color:blue" class="sales_product_list" sales_products_data='${JSON.stringify(
                  data
                )}'>${data ? "Show" : "-"}</i>`;
              },
            },
            {
              targets: [3],
              className: "text-left",
              render: function (data, type, row) {
                return `<span>${row["SalesProducts"]?.length || 0}</i>`;
              },
            },
            {
              targets: [6],
              className: "text-left",
              render: function (data, type, row) {
                return data || 0;
              },
            },
            {
              targets: [7],
              className: "text-left",
              render: function (data, type, row) {
                const sales_quantity = parseFloat(row["sales_quantity"]);
                const yield_quantity = parseFloat(row["total_yield_quantity"]);
                const wastage_quantity = sales_quantity - yield_quantity;
                return yield_quantity
                  ? isNaN(wastage_quantity)
                    ? 0
                    : wastage_quantity
                  : "-";
              },
            },
            // {
            //   targets: [8],
            //   className: "text-left",
            //   render: function (data, type, row) {
            //     return `<span class=${
            //       data == "In Progress" ? "text-warning" : "text-success"
            //     }>${data} <i class="fa-solid ${
            //       data == "In Progress"
            //         ? "fa-spinner fa-spin"
            //         : "fa-circle-check"
            //     }"></i></span>`;
            //   },
            // },
            {
              targets: [9],
              className: "text-left",
              render: function (data, type, row) {
                return `<span unit_master_id='${row["UnitMaster"]?.id}'>${data}</i>`;
              },
            },
            {
              targets: [10],
              className: "text-left",
              render: function (data, type, row) {
                const date = new Date(row?.created_at);

                var months = [
                  "Jan",
                  "Feb",
                  "Mar",
                  "Apr",
                  "May",
                  "Jun",
                  "Jul",
                  "Aug",
                  "Sep",
                  "Oct",
                  "Nov",
                  "Dec",
                ];
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var ampm = hours >= 12 ? "PM" : "AM";
                hours = hours % 12;
                hours = hours ? hours : 12; // Handle midnight (0 hours)
                minutes = minutes < 10 ? "0" + minutes : minutes;
                var strTime = hours + ":" + minutes + " " + ampm;
                var month = months[date.getMonth()];
                var day = date.getDate().toString().padStart(2, "0"); // Ensure day is always two digits
                return (
                  day + "-" + month + "-" + date.getFullYear() + " " + strTime
                );
              },
            },
          ],
          drawCallback: () => {},
        });
      }

      $(document).on("click", "td span.sales_product_list", function (e) {
        let tr = e.target.closest("tr");
        let row = salesProductTable.row(tr);

        if (row.child.isShown()) {
          // This row is already open - close it
          row.child.hide();
          $(e.target).text("Show");
        } else {
          // Open this row
          row
            .child(
              format(
                $(e.target).parent().find("span").attr("sales_products_data")
              )
            )
            .show();
          $(e.target).text("Hide");
        }
      });

      // Formatting function for row details - modify as you need
      function format(product_data) {
        // `d` is the original data object for the row
        let html_content = "";

        JSON.parse(product_data)?.forEach((row) => {
          html_content += `<tr>
                            <td>${row["ProductMaster"]?.product_name}</td>
                            <td>${row?.yield_quantity}</td>
                            <td><span class=${
                              row?.sales_status == "In Progress"
                                ? "text-warning"
                                : "text-success"
                            }>${row?.sales_status} <i class="fa-solid ${
                              row?.sales_status == "In Progress"
                                ? "fa-spinner fa-spin"
                                : "fa-circle-check"
                            }"></i></span></td>
                            <td>${row?.sales_notes || "-"}</td>
                          </tr>`;
        });

        return `<table class="table border rounded nowrap w-50">
                        <tbody>
                          <tr>
                            <th class="fw-bold">Product Name</th>
                            <th class="fw-bold">Yield Quantity</th>
                            <th class="fw-bold">Status</th>
                            <th class="fw-bold">Sales Notes</th>
                          </tr>
                          ${html_content}
                        </tbody>
                      </table>`;
      }

      let view_sales_center_id = "";
      let view_raw_material_id = "";
      $(document).on("click", ".editSales", (e) => {
        // Changing panel input fields data
        is_updated_data = true;

        $("#salesLotNumbers")
          .val($("#view_sales_lot_no").attr("procurement_lot_id"))
          .trigger("change");

        view_raw_material_id = $(e.target)
          .closest("tr")
          .children("td")
          .eq(1)
          .find("span")
          .attr("dispatch_id");

        view_sales_center_id = $(e.target)
          .closest("tr")
          .children("td")
          .eq(9)
          .find("span")
          .attr("unit_master_id");

        $("#sales_quantity").val(
          $(e.target).closest("tr").children("td").eq(5).text()
        );

        $("#salesMethods")
          .val($(e.target).closest("tr").children("td").eq(8).text())
          .trigger("change");

        let sales_products = $(e.target)
          .closest("tr")
          .children("td")
          .eq(2)
          .find("span")
          .attr("sales_products_data");

        let sales_products_obj = JSON.parse(sales_products);
        if (
          sales_products &&
          Array.isArray(sales_products_obj) &&
          sales_products_obj?.length > 0
        ) {
          let i = 1;

          sales_products_obj?.forEach((product) => {
            if (i == 1) {
              $(".salesProductNames_" + i)
                .val(product?.ProductMaster?.id)
                .trigger("change");
              $(".salesProductNames_" + i)
                .parent()
                .find("select")
                .attr("peeled_product_id", product?.id);
              $(".yield_quantity_" + i).val(product?.yield_quantity);
              $(".sales_notes_" + i).val(product?.sales_notes);
            } else {
              addOutput(
                i,
                product?.id,
                product?.ProductMaster?.id,
                product?.yield_quantity,
                product?.sales_notes
              );
            }
            i++;
          });
        }

        // Opening Slied Panel
        $("#openSalesPanelBtn").click();

        // Changing panel heading
        $("#salesPanelHeading").text("Edit Sales Data");

        // Changing panel button label
        $("#submitSales").text("Update");

        // Changing panel button attribute
        $("#submitSales").attr("sales_id", $(e.target).attr("sales_id"));

        $("#salesModal").modal("hide");
      });

      function loadCustomerNames() {
        $.ajax({
          url: `/api/v1/master/customer`,
          method: "GET",
          dataType: "json",
          contentType: "application/json",
          crossDomain: true,
          processData: false,
          success: (data) => {
            $("#customerNames").select2({
              placeholder: "Choose a customer",
              allowClear: "true",
              data: $.map(data?.data?.rows, function (item) {
                return {
                  id: item.id,
                  country: item.customer_country,
                  address: item.customer_address,
                  text: `${item.customer_name}-${item.customer_country}`,
                };
              }),
            });

            $("#customerNames").val(null).trigger("change");
          },
          error: (jqXhr, textStatus, errorThrown) => {
            if (jqXhr["status"] == 420) {
              toastr["warning"](jqXhr["responseJSON"]["message"]);
            } else {
              toastr["error"](jqXhr["responseJSON"]["message"]);
            }
          },
        });
      }

      $(document).on("change", "#customerNames", (e) => {
        const customerCountry = $(e.target).val();

        if (customerCountry) {
          $("#customer_country").text(
            $("#customerNames").select2("data")[0]?.country
          );
          $("#shipping_address").text(
            $("#customerNames").select2("data")[0]?.address
          );
        }
      });

      function loadPaymentType() {
        $("#paymentTypes").select2({
          placeholder: "Choose a raw material",
          allowClear: "true",
          data: [
            {
              id: "Credit card",
              text: "Credit card",
            },
            {
              id: "Debit card",
              text: "Debit card",
            },
            {
              id: "Digital wallet",
              text: "Digital wallet",
            },
            {
              id: "Direct debit",
              text: "Direct debit",
            },
            {
              id: "Cryptocurrency",
              text: "Cryptocurrency",
            },
            {
              id: "Cash",
              text: "Cash",
            },
            {
              id: "Bank transfer",
              text: "Bank transfer",
            },
            {
              id: "International ACH",
              text: "International ACH",
            },
          ],
        });

        $("#paymentTypes").val(null).trigger("change");
      }

      function loadProductNames() {
        $(".salesProductNames").empty();
        productNamesArray = [];

        $.ajax({
          url: "/api/v1/master/product",
          method: "GET",
          dataType: "json",
          contentType: "application/json",
          crossDomain: true,
          processData: false,
          success: (data) => {
            productNamesArray = [];

            data?.data?.rows.forEach((item) => {
              productNamesArray.push({
                id: item.id,
                text: item.product_name,
              });
            });

            $(".salesProductNames").select2({
              placeholder: "Choose a product",
              allowClear: "true",
              data: productNamesArray,
            });

            if (!is_updated_data)
              $(".salesProductNames").val(null).trigger("change");
          },
          error: (jqXhr, textStatus, errorThrown) => {
            if (jqXhr["status"] == 420) {
              toastr["warning"](jqXhr["responseJSON"]["message"]);
            } else {
              toastr["error"](jqXhr["responseJSON"]["message"]);
            }
          },
        });
      }

      function loadShippingLocations() {
        $.ajax({
          url: `/api/v1/master/shipping`,
          method: "GET",
          dataType: "json",
          contentType: "application/json",
          crossDomain: true,
          processData: false,
          success: (data) => {
            data?.data?.rows.forEach((item) => {
              $("#shippingSources").select2({
                placeholder: "Choose a source",
                allowClear: "true",
                data: [
                  {
                    id: item.id,
                    text: item.shipping_source,
                  },
                ],
              });

              $("#shippingDestinations").select2({
                placeholder: "Choose a destination",
                allowClear: "true",
                data: [
                  {
                    id: item.id,
                    text: item.shipping_destination,
                  },
                ],
              });
            });

            $("#shippingSources").val(null).trigger("change");
            $("#shippingDestinations").val(null).trigger("change");
          },
          error: (jqXhr, textStatus, errorThrown) => {
            if (jqXhr["status"] == 420) {
              toastr["warning"](jqXhr["responseJSON"]["message"]);
            } else {
              toastr["error"](jqXhr["responseJSON"]["message"]);
            }
          },
        });
      }

      function loadShippingMethods() {
        $("#shippingMethods").select2({
          placeholder: "Choose a customer",
          allowClear: "true",
          data: [
            {
              id: "Air freight",
              text: "Air freight",
            },
            {
              id: "Flat rate shipping",
              text: "Flat rate shipping",
            },
            {
              id: "Sea shipping",
              text: "Sea shipping",
            },
            {
              id: "Expedited shipping",
              text: "Expedited shipping",
            },
            {
              id: "Land shipping",
              text: "Land shipping",
            },
          ],
        });

        $("#shippingMethods").val(null).trigger("change");
      }

      function saveSales() {
        const sales_id = $("#submitSales").attr("sales_id");
        const current_weight_balance = $("#balance_dispatched_quantity").text();
        const sales_quantity = parseFloat($("#sales_quantity").val()) || 0;
        let yield_quantity = 0;

        $(".yield_quantity").each((i, obj) => {
          yield_quantity += isNaN(parseFloat($(obj).val()))
            ? 0
            : parseFloat($(obj).val());
        });

        if (parseFloat(current_weight_balance) <= -1) {
          toastr["warning"]("Invalid sales quantity");
          return;
        }

        let SalesProducts = [];

        $(".salesProduct").each((i, obj) => {
          let id = $(obj)
            .find(`.salesProductNames_${i + 1}`)
            .parent()
            .find("select")
            .attr("peeled_product_id");

          let product_master_id = $(obj)
            .find(`.salesProductNames_${i + 1}`)
            .val();

          let yield_quantity = $(obj)
            .find(`.yield_quantity_${i + 1}`)
            .val();

          yield_quantity = isNaN(parseFloat(yield_quantity))
            ? 0
            : parseFloat(yield_quantity);

          let sales_notes = $(obj)
            .find(`.sales_notes_${i + 1}`)
            .val();

          if (product_master_id) {
            let outputObj = {
              sales_id,
              product_master_id,
              yield_quantity,
              sales_notes,
            };

            if (id && id != "undefined") {
              outputObj.id = id;
            }

            SalesProducts.push(outputObj);
          }
        });

        let url = "/api/v1/sales";
        let method = "POST";
        let input_params = {
          dispatch_id: $("#rawMaterials").val(),
          product_master_id: $(".salesProductNames").val(),
          unit_master_id: $("#salesCenters").val(),
          sales_method: $("#salesMethods").val(),
          sales_quantity,
          SalesProducts,
        };

        if (sales_id && sales_id != "null") {
          url = "/api/v1/sales";
          method = "PUT";

          input_params = {
            sales_id,
            sales_data: {
              ...input_params,
            },
          };
        }

        if (yield_quantity > 0 && sales_quantity < yield_quantity) {
          toastr["warning"](
            "Yield quantity must not be greater than sales quantity!"
          );
          return;
        }

        $.ajax({
          url,
          method,
          dataType: "json",
          contentType: "application/json",
          data: JSON.stringify(input_params),
          crossDomain: true,
          processData: false,
          success: (data) => {
            toastr["success"](data?.message);

            $("#closeSalesPanelBtn").click();

            loadSalesTableData();

            resetAllInputs();
          },
          error: (jqXhr, textStatus, errorThrown) => {
            if (jqXhr["status"] == 420) {
              toastr["warning"](jqXhr["responseJSON"]["message"]);
            } else {
              toastr["error"](jqXhr["responseJSON"]["message"]);
            }
          },
        });
      }

      $("#resetSalesDataBtn").on("click", resetAllInputs);
      // -------------------- End of Sales -----------------
    });
  </script>
</html>
